---
title: お問い合わせ｜ペンホーク
---
<style>
    *,
    *:before,
    *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
</style>

    <ul id="breadcrumb">
        <li><a href="/" title="Home"><img src="../../images/breadcrumb-home-icon.gif" alt="Home" class="home" /></a></li>
            <li><a href="/naati/" title="サービス概要">O<span style="font-size:0.9em">UTLINE</span></a></li>
            <li><a href="/naati/pricing-and-schedule/" title="料金とスケジュール">P<span style="font-size:0.9em">RICING</span></a></li>    
            <li><a href="/naati/process/" title="ご利用手順">P<span style="font-size:0.9em">ROCESS</span></a></li>
            <li>E<span style="font-size:0.9em">NQUIRY</span></li>
    </ul>
<section class="no-hero">

    <div class="hero-enquiry-symbol"> <img src="../../images/logos/Penhawk-logo-symbol.svg" alt="Penhawkのロゴ" /> </div>
</section>
<div class="page-title">
    <h2>Thank You!</h2>
    <h1>ありがとうございました！</h1></div>
<div class="single-column">
    <div class="column">
        <p>この度はお問い合わせいただき誠にありがとうございます。送信内容を確認の上、折り返しご連絡を差し上げます。</p>
        <p><u>もし受信トレイに返信が届かない場合は、念のため迷惑メールフォルダーもご確認ください。</u></p>
        <p>今後ともどうぞよろしくお願い申し上げます。</p>
    </div>
</div>
<div id="button-line">
    <div class="button-regular"><a href="/" title="ご注文"><span style="font-family:Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif; color:#fff; margin-bottom:50%;">Next ｜</span> ホームへ</a></div>
</div>