---
title: 料金とスケジュール - ペンホーク(Penhawk)
---
<style>
    /* ensure no empty gaps
--------------------------------------------- */
    
    *,
    *:before,
    *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    /* top section
--------------------------------------------- */
    
    .small-hero {
        background: url("../../images/hero-images/botanic_gardens.jpg") no-repeat center center;
        background-size: cover;
        background-position: center center;
    }
    /* tabbed panel
--------------------------------------------- */
    
    #pricing {
        width: 90%;
        max-width: 800px;
        margin: 0 auto;
        margin-top: -20px;
        margin-bottom: 50px;
    }
    
    #pricing > section {
        display: none;
        padding: 20px;
        border-top: 1px solid #999;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }
    
    input {
        display: none;
        margin: 0
    }
    
    #pricing > label {
        display: inline-block;
        width: 33.33%;
        width: calc(100% / 3);
        margin-right: -4.5px;
        padding: 15px 5px;
        font-weight: 400;
        font-family: 'Droid Serif', Serif;
        font-size: 1em;
        text-align: center;
        color: #999;
        border-bottom: 0;
        background: #4F463C;
        -webkit-box-shadow: inset 0px 1px 0px 0.5px #ddd;
        -moz-box-shadow: inset 0px 1px 0px 0.5px #ddd;
        box-shadow: inset 0px 1px 0px 0.5px #ddd;
    }
    
    #pricing > label:hover {
        color: #bbb;
        cursor: pointer;
        background: -moz-radial-gradient(center, ellipse cover, #4F463C 0%, #332A25 100%, #7db9e8 100%);
        /* FF3.6-15 */
        background: -webkit-radial-gradient(center, ellipse cover, #4F463C 0%, #332A25 100%, #7db9e8 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: radial-gradient(ellipse at center, #4F463C 0%, #332A25 100%, #7db9e8 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
    
    #pricing > input:checked + label {
        color: #fff;
        border-bottom: 0;
        background: #241E1A;
        margin-bottom: -3px;
        --webkit-box-shadow: inset 0px 1px 0px 0.5px #ddd;
        -moz-box-shadow: inset 0px 1px 0px 0.5px #ddd;
        box-shadow: inset 0px 1px 0px 0.5px #ddd;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    }
    
    #tab1:checked ~ #content1,
    #tab2:checked ~ #content2,
    #tab3:checked ~ #content3 {
        display: flex;
        background: rgba(255, 255, 255, 0.9);
    }
    /* table
--------------------------------------------- */
    
    .pricing-container {
        display: flex: flex-direction: column;
        width: 100%;
    }
    
    table {
        width: 100%;
        border-collapse: collapse;
    }
    
    caption {
        @extend .general-text;
        text-align: center;
        padding-bottom: 0;
        margin-bottom: 1em;
    }
    
    table > caption > h5 {
        @extend .headings;
        font-size: 1.8em;
        line-height: 100%;
        margin-top: 0.5em;
        margin-bottom: 0em
    }
    
    table > caption > h6 {
        @extend .headings;
        font-size: 1.3em;
        line-height: 100%;
        margin-top: 1em;
        margin-bottom: 1em
    }
    
    tr {
        width: 100%;
        height: 2.3em
    }
    
    tr > td {
        @extend .general-text;
        color: #6f6f6f;
        font-weight:400;
        height: auto;
        line-height: 140%;
        padding-top: 0.5em;
        border-bottom: 1px solid #ddd;
        border-left: 0
    }
    
    td:nth-of-type(odd) {
        width: 70%;
        text-align: left;
    }
    
    td:nth-of-type(even) {
        width: 30%;
        text-align: right;
        color: #54504E
    }
    
    tr > th {
        font-family: "a-otf-futo-min-a101-pr6n", 'Droid Serif', serif;
        font-weight:500;
        font-size: 1.1em;
        line-height: 100%;
        color: #54504E;
        text-align: left;
        padding-top: 1.8em;
        padding-bottom: 0.5em
    }
    /* media queries
  --------------------------------------------- */
    
    @media all and (max-width: 1156px) {
        #pricing {
            width: 90%;
            max-width: 700px;
        }
    }
    
    @media all and (max-width: 800px) {
        table > caption {
            text-align: left
        }
    }
    
    @media all and (max-width: 540px) {
        tr > td,
        caption {
            font-size: 0.9em
        }
        table > caption > h5 {
            font-size: 1.5em;
        }
        table > caption > h6 {
            font-size: 1.1em;
        }
    }
</style>
<section class="small-hero">
    <ul id="breadcrumb">
        <li><a href="/" title="Home"><img src="../../images/breadcrumb-home-icon.gif" alt="Home" class="home" /></a></li>
            <li><a href="/naati" title="NAATIサービスの概要">O<span style="font-size:0.9em">UTLINE</span></a></li>
            <li><a href="/naati/process" title="ご利用手順">P<span style="font-size:0.9em">ROCESS</span></a></li>
            <li>P<span style="font-size:0.9em">RICING</span></li>
            <li><a href="/enquiry" title="ご注文">O<span style="font-size:0.9em">RDER</span></a></li>
    </ul>
    <div class="hero-bottom-symbol"> <img src="../../images/logos/Penhawk-logo-symbol.svg" alt="logo" /> </div>
</section>
<div class="page-title">
    <h2>PRICING & SCHEDULE</h2>
    <h1>料金とスケジュール</h1></div>
<div class="double-column">
    <div class="column">
        <p>Penhawkのサービスは3つのカテゴリー（Regular, Express, Urgent）に分けられています。どうぞお客様に合ったサービスをお選びください。「Regular」とは、お振込確認次第、１０営業日以内に郵送と、スキャンデータを電子メールの添付書類として納品する通常営業です。</p>
    </div>
    <div class="column">
        <p>「Express」とは、同じかたちで５営業日以内に納品する準急営業です。「Urgent」とは、大変急いでいるお客様でも安心できる３営業日以内に納品するという特急営業です。詳しくは、下記の表をご覧ください。</p>
    </div>
</div>
<div id="pricing">
    <input id="tab1" type="radio" name="tabs" checked>
    <label for="tab1">REGULAR</label>
    <input id="tab2" type="radio" name="tabs">
    <label for="tab2">EXPRESS</label>
    <input id="tab3" type="radio" name="tabs">
    <label for="tab3">URGENT</label>
    <section id="content1">
        <div class="pricing-container">
            <table>
                <caption>
                    <h5>REGULAR</h5>
                    <h6>翻訳時間：１０営業日</h6> ほとんどの状況では、最も効率的なコストや円滑な流れのために、こちらがおすすめ</caption>
                <th>財政状況の証明</th>
                <tr>
                    <td>納税証明書</td>
                    <td>7,000円</td>
                </tr>
                <tr>
                    <td>残高証明書</td>
                    <td>7,000円</td>
                </tr>
                <tr>
                    <td>源泉徴収票</td>
                    <td>8,500円</td>
                </tr>
                <tr>
                    <td>特別徴収税額の通知書</td>
                    <td>16,000円~</td>
                </tr>
                <tr>
                    <td>確定申告書</td>
                    <td>16,000円~</td>
                </tr>
                <tr>
                    <td>申告内容確認票</td>
                    <td>16,000円~</td>
                </tr>
                <th>認定資格</th>
                <tr>
                    <td>卒業証書・学位記</td>
                    <td>6,000円</td>
                </tr>
                <tr>
                    <td>修了見込証明書</td>
                    <td>6,000円</td>
                </tr>
                <tr>
                    <td>臨床研修修了証明書</td>
                    <td>7,500円</td>
                </tr>
                <tr>
                    <td>医師免許証</td>
                    <td>6,000円</td>
                </tr>
                <tr>
                    <td>専門医認定証</td>
                    <td>6,000円</td>
                </tr>
                <tr>
                    <td>歯科医師免許証</td>
                    <td>6,000円</td>
                </tr>
                <tr>
                    <td>薬剤師免許証</td>
                    <td>6,000円</td>
                </tr>
                <tr>
                    <td>理学療法士免許証</td>
                    <td>6,000円</td>
                </tr>
                <tr>
                    <td>調理師免許証</td>
                    <td>6,000円</td>
                </tr>
                <tr>
                    <td>教諭免許状</td>
                    <td>6,000円</td>
                </tr>
                <th>身元・関係の証明</th>
                <tr>
                    <td>戸籍抄本</td>
                    <td>4,900円</td>
                </tr>
                <tr>
                    <td>戸籍謄本１−３人家族</td>
                    <td>4,900円</td>
                </tr>
                <tr>
                    <td>戸籍謄本４−６人家族</td>
                    <td>5,500円</td>
                </tr>
                <tr>
                    <td>住民票（１枚）</td>
                    <td>4,900円</td>
                </tr>
                <tr>
                    <td>婚姻届受理証明書</td>
                    <td>6,000円</td>
                </tr>
                <tr>
                    <td>婚姻要件具備証明書</td>
                    <td>6,000円</td>
                </tr>
                <tr>
                    <td>出生届・出生証明書</td>
                    <td>9,000円</td>
                </tr>
                <tr>
                    <td>自動車運転免許証（両面）</td>
                    <td>4,500円</td>
                </tr>
                <tr>
                    <td>在留カード（両面）</td>
                    <td>4,500円</td>
                </tr>
				<tr>
                    <td>ガス電気水道代</td>
                    <td>6,000円</td>
                </tr>
                <tr>
                    <td>手紙・メール等</td>
                    <td>1文字/10円</td>
                </tr>
            </table>
        </div>
    </section>
    <section id="content2">
        <div class="pricing-container">
            <table>
                <caption>
                    <h5>EXPRESS</h5>
                    <h6>翻訳時間：５営業日</h6> 緊急ではないですが、翻訳を確実に一週間以内に必要にしている場合は、こちらがおすすめ</caption>
                <th>財政状況の証明</th>
                <tr>
                    <td>納税証明書</td>
                    <td>8,500円</td>
                </tr>
                <tr>
                    <td>残高証明書</td>
                    <td>8,500円</td>
                </tr>
                <tr>
                    <td>源泉徴収票</td>
                    <td>10,000円</td>
                </tr>
                <tr>
                    <td>特別徴収税額の通知書</td>
                    <td>20,000円~</td>
                </tr>
                <tr>
                    <td>確定申告書</td>
                    <td>20,000円~</td>
                </tr>
                <tr>
                    <td>申告内容確認票</td>
                    <td>20,000円~</td>
                </tr>
                <th>認定資格</th>
                <tr>
                    <td>卒業証書・学位記</td>
                    <td>7,500円</td>
                </tr>
                <tr>
                    <td>修了見込証明書</td>
                    <td>7,500円</td>
                </tr>
                <tr>
                    <td>臨床研修修了証明書</td>
                    <td>9,500円</td>
                </tr>
                <tr>
                    <td>医師免許証</td>
                    <td>7,500円</td>
                </tr>
                <tr>
                    <td>専門医認定証</td>
                    <td>7,500円</td>
                </tr>
                <tr>
                    <td>歯科医師免許証</td>
                    <td>7,500円</td>
                </tr>
                <tr>
                    <td>薬剤師免許証</td>
                    <td>7,500円</td>
                </tr>
                <tr>
                    <td>理学療法士免許証</td>
                    <td>7,500円</td>
                </tr>
                <tr>
                    <td>調理師免許証</td>
                    <td>7,500円</td>
                </tr>
                <tr>
                    <td>教諭免許状</td>
                    <td>7,500円</td>
                </tr>
                <th>身元・関係の証明</th>
                <tr>
                    <td>戸籍抄本</td>
                    <td>5,600円</td>
                </tr>
                <tr>
                    <td>戸籍謄本１−３人家族</td>
                    <td>5,600円</td>
                </tr>
                <tr>
                    <td>戸籍謄本４−６人家族</td>
                    <td>6,200円</td>
                </tr>
                <tr>
                    <td>住民票（１枚）</td>
                    <td>5,600円</td>
                </tr>
                <tr>
                    <td>婚姻届受理証明書</td>
                    <td>6,700円</td>
                </tr>
                <tr>
                    <td>婚姻要件具備証明書</td>
                    <td>6,700円</td>
                </tr>
                <tr>
                    <td>出生届・出生証明書</td>
                    <td>11,500円</td>
                </tr>
                <tr>
                    <td>自動車運転免許証（両面）</td>
                    <td>5,200円</td>
                </tr>
                <tr>
                    <td>在留カード（両面）</td>
                    <td>5,200円</td>
                </tr>
                <tr>
                    <td>ガス電気水道代</td>
                    <td>6,700円</td>
                </tr>
                <tr>
                    <td>手紙・メール等</td>
                    <td>1文字/13円</td>
                </tr>
            </table>
        </div>
    </section>
    <section id="content3">
        <div class="pricing-container">
            <table>
                <caption>
                    <h5>URGENT</h5>
                    <h6>翻訳時間：３営業日</h6> 一週間でも遅く、極めて高速な翻訳が必要な場合は、こちらがおすすめ</caption>
                <th>財政状況の証明</th>
                <tr>
                    <td>納税証明書</td>
                    <td>11,000円</td>
                </tr>
                <tr>
                    <td>残高証明書</td>
                    <td>11,000円</td>
                </tr>
                <tr>
                    <td>源泉徴収票</td>
                    <td>13,500円</td>
                </tr>
                <tr>
                    <td>特別徴収税額の通知書</td>
                    <td>26,000円~</td>
                </tr>
                <tr>
                    <td>確定申告書</td>
                    <td>26,000円~</td>
                </tr>
                <tr>
                    <td>申告内容確認票</td>
                    <td>26,000円~</td>
                </tr>
                <th>認定資格</th>
                <tr>
                    <td>卒業証書・学位記</td>
                    <td>10,000円</td>
                </tr>
                <tr>
                    <td>修了見込証明書</td>
                    <td>10,000円</td>
                </tr>
                <tr>
                    <td>臨床研修修了証明書</td>
                    <td>12,000円</td>
                </tr>
                <tr>
                    <td>医師免許証</td>
                    <td>10,000円</td>
                </tr>
                <tr>
                    <td>専門医認定証</td>
                    <td>10,000円</td>
                </tr>
                <tr>
                    <td>歯科医師免許証</td>
                    <td>10,000円</td>
                </tr>
                <tr>
                    <td>薬剤師免許証</td>
                    <td>10,000円</td>
                </tr>
                <tr>
                    <td>理学療法士免許証</td>
                    <td>10,000円</td>
                </tr>
                <tr>
                    <td>調理師免許証</td>
                    <td>10,000円</td>
                </tr>
                <tr>
                    <td>教諭免許状</td>
                    <td>10,000円</td>
                </tr>
                <th>身元・関係の証明</th>
                <tr>
                    <td>戸籍抄本</td>
                    <td>8,000円</td>
                </tr>
                <tr>
                    <td>戸籍謄本１−３人家族</td>
                    <td>8,000円</td>
                </tr>
                <tr>
                    <td>戸籍謄本４−６人家族</td>
                    <td>8,500円</td>
                </tr>
                <tr>
                    <td>住民票（１枚）</td>
                    <td>8,000円</td>
                </tr>
                <tr>
                    <td>婚姻届受理証明書</td>
                    <td>8,600円</td>
                </tr>
                <tr>
                    <td>婚姻要件具備証明書</td>
                    <td>8,600円</td>
                </tr>
                <tr>
                    <td>出生届・出生証明書</td>
                    <td>14,000円</td>
                </tr>
                <tr>
                    <td>自動車運転免許証（両面）</td>
                    <td>7,600円</td>
                </tr>
                <tr>
                    <td>在留カード（両面）</td>
                    <td>7,600円</td>
                </tr>
                <tr>
                    <td>ガス電気水道代</td>
                    <td>8,600円</td>
                </tr>
                <tr>
                    <td>手紙・メール等</td>
                    <td>1文字/15円</td>
                </tr>
            </table>
        </div>
    </section>
</div>
<div id="button-line">
    <div class="button-regular"><a href="/enquiry" title="ご注文"><span style="font-family:'Droid Sans'; color:#fff; margin-bottom:50%;">Next ｜</span> ご注文</a></div>
</div>