---
title: Penhawk ご注文・お問い合わせ
---
<style>
    *,
    *:before,
    *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    /* form
--------------------------------------------- */
    
    .form-double-column {
   height:auto;
   margin-top:0px;
   margin-left: auto;
   margin-right:auto;
   max-width:1084px;
   margin-bottom: 50px;
   padding-bottom:0px;
   display: -webkit-flex;
   display:         flex;
　　justify-content:center;
   -webkit-flex-flow: wrap;
           flex-flow: wrap;
   }

    .form-double-column > .column{
   display: -webkit-flex;
   display:flex;
   width:50%;
   height:auto;
   margin: 0px;
   padding-left:1.5em;
   padding-right:1.5em;
   -webkit-flex-flow: column;
           flex-flow: column;
   }
    
    form {
        font-family: "a-otf-gothic-bbb-pr6n", 'Droid Sans', sans-serif;
        font-size:1em;
        border:none;
    }
    
    .form-group {
        border:none;
    }
    
    .form-control {
        font-family: "a-otf-gothic-bbb-pr6n", 'Droid Sans', sans-serif;
        font-size:1em;
        margin-bottom:1em;
    }
    
    /* contact information
--------------------------------------------- */
    .contact-information {
        width:96%;
        background: white;
        margin-top:3.35em;
        border: 1px solid #ccc;
        padding:1em;
        padding-top:0.4em;
    }
    
    .contact-information > h5 {margin-top: 0; margin-left:0; margin-right:0; text-align:center; font-size:1em; font-weight:700}
    
    .contact-information > h6{font-style:italic; font-weight: 600; font-size: 1em;text-align:left; margin-top:0.4em; margin-bottom:0;}
    
    .contact-information > p{font-size:0.9em; margin-top:0.1em; color: #6f6f6f;}
    
    .contact-information > h6:nth-of-type(1n+4){font-size:1em; font-style:normal; margin-top:0.5em;}
    
    .contact-information > p:nth-of-type(1n+4){margin-bottom:1.5em;}
    
    #sns{
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: flex-start;
    }
    
    #sns > *{
        -webkit-flex: 0 1 auto;
        flex: 0 1 auto;
        height: 50px;
        width: 50px;
    }
    
    #sns > .icon {
        padding:2%
    }
    
    #sns > .leftover {
        -webkit-flex: 5 1 auto;
        flex: 1 5 auto;
    }
    
    /* button
--------------------------------------------- */
    button {
        align-items: center;
    justify-content: center;
    display: inline;
    height: 45px;
    width:100%;
    max-width:500px;
    margin-left:auto;
    margin-right:auto;
    background: url(../images/buttonbg.jpg);
    text-align: center;
        align-self:center;
    font-family: "a-otf-futo-min-a101-pr6n", 'Droid Serif', serif;
    border: 1px solid rgb(205,101,14);
    border-radius: 5px;
    box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.5),0px 2px 0px 0px rgba(185,91,12,1),inset 0px 1px 0px 0px rgba(255,255,255,0.5);
    cursor: pointer;
    }
    
    button a {
    color: #401300;
    text-decoration: none;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.25);
}
button:hover {
    background: url(../images/buttonbg_o.jpg);
}
    
    /* media queries
  --------------------------------------------- */
  
    @media all and (max-width: 768px) {
    .form-double-column{
height:auto;
width:90%;
-webkit-flex-flow: column;
flex-direction: column;
}
    
.form-double-column > .column {
    display:flex;
    width:100%;
    height:auto;
    margin: 0px;
    padding-left:0;
    padding-right:0;
    -webkit-flex-flow: column;
flex-direction: column;
}
        
        .contact-information {display:none}
   }
    

    @media all and (max-width:360px) {
.form-group > .form-control-file {
    background:blue;
    max-width:280px;
    }
    }
    
</style>

<section class="no-hero">
    <ul id="breadcrumb">
        <li><a href="#" title="Home"><img src="http://cssdeck.com/uploads/media/items/6/6f4WQkA.gif" alt="Home" class="home" /></a></li>
            <li><a href="/naati" title="NAATIサービスの概要">O<span style="font-size:0.9em">UTLINE</span></a></li>
            <li><a href="/naati/process" title="ご利用手順">P<span style="font-size:0.9em">ROCESS</span></a></li>
            <li><a href="/naati/pricing-and-schedule" title="料金とスケジュール">P<span style="font-size:0.9em">RICING</span></a></li>
            <li>O<span style="font-size:0.9em">RDER</span></li>
    </ul>
    <div class="hero-enquiry-symbol"> <img src="../images/logos/Penhawk-logo-symbol.svg" alt="logo" /> </div>
</section>
<div class="page-title">
    <h2>ORDERS & ENQUIRIES</h2>
    <h1>ご注文・お問い合わせ</h1></div>
<div class="form-double-column">
    <div class="column">
    <form>
　<fieldset class="form-group">
    <label for="name">氏名</label>
    <input type="text" class="form-control" id="name" style="width:100%" required>
    <label for="postcode">郵便番号</label>
    <input type="text" class="form-control" id="postcode" style="width:100%" required>
    <label for="prefecture">都道府県</label>
    <select class="form-control" id="Select" style="width:100%" required>
      <option value "" disabled selected>--</option>
      <option>01. 北海道</option>
      <option>02. 青森県</option>
      <option>03. 岩手県</option>
      <option>04. 宮城県</option>
      <option>05. 秋田県</option>
      <option>06. 山形県</option>
      <option>07. 福島県</option>
      <option>08. 茨城県</option>
      <option>09. 栃木県</option>
      <option>10. 群馬県</option>
      <option>11. 埼玉県</option>
      <option>12. 千葉県</option>
      <option>13. 東京都</option>
      <option>14. 神奈川県</option>
      <option>15. 新潟県</option>
      <option>16. 富山県</option>
      <option>17. 石川県</option>
      <option>18. 福井県</option>
      <option>19. 山梨県</option>
      <option>20. 長野県</option>
      <option>21. 岐阜県</option>
      <option>22. 静岡県</option>
      <option>23. 愛知県</option>
      <option>24. 三重県</option>
      <option>25. 滋賀県</option>
      <option>26. 京都府</option>
      <option>27. 大阪府</option>
      <option>28. 兵庫県</option>
      <option>29. 奈良県</option>
      <option>30. 和歌山県</option>
      <option>31. 鳥取県</option>
      <option>32. 島根県</option>
      <option>33. 岡山県</option>
      <option>34. 広島県</option>
      <option>35. 山口県</option>
      <option>36. 徳島県</option>
      <option>37. 香川県</option>
      <option>38. 愛媛県</option>
      <option>39. 高知県</option>
      <option>40. 福岡県</option>
      <option>41. 佐賀県</option>
      <option>42. 長崎県</option>
      <option>43. 熊本県</option>
      <option>44. 大分県</option>
      <option>45. 宮崎県</option>
      <option>46. 鹿児島県</option>
      <option>47. 沖縄県</option>
    </select>
    <label for="address">住所</label>
    <input type="text" class="form-control" id="address" style="width:100%" required>
    <label for="phone">電話番号</label>
    <input type="tel" class="form-control" id="phone" style="width:100%">
    <label for="email">メール</label>
    <input type="email" class="form-control" id="email" style="width:100%" required>
    <label for="Select1">ご希望の証明書（１）</label>
    <select class="form-control" id="Select1" style="width:100%" required>
      <option value "" disabled selected>--</option>
      <option>納税証明書</option>
      <option>残高証明書</option>
      <option>源泉徴収票</option>
      <option>特別徴収税額の通知書</option>
      <option>確定申告書</option>
      <option>申告内容確認票</option>
      <option>卒業証書・学位記</option>
      <option>修了見込証明書</option>
      <option>臨床研修修了証明書</option>
      <option>医師免許証</option>
      <option>専門医認定証</option>
      <option>歯科医師免許証</option>
      <option>薬剤師免許証</option>
      <option>理学療法士免許証</option>
      <option>調理師免許証</option>
      <option>教諭免許状</option>
      <option>戸籍抄本</option>
      <option>戸籍謄本１−３人家族</option>
      <option>戸籍謄本４−６人家族</option>
      <option>住民票（１枚）</option>
      <option>婚姻届受理証明書</option>
      <option>婚姻要件具備証明書</option>
      <option>出生届・出生証明書</option>
      <option>自動車運転免許証（表面）</option>
      <option>自動車運転免許証（両面）</option>
      <option>在留カード（両面）</option>
      <option>手紙・メール</option>
      <option>宣誓供述書</option>
      <option>その他</option>
    </select>
    <label for="Select2">ご希望の証明書（２）</label>
    <select class="form-control" id="Select2" style="width:100%">
      <option value "" disabled selected>--</option>
      <option>納税証明書</option>
      <option>残高証明書</option>
      <option>源泉徴収票</option>
      <option>特別徴収税額の通知書</option>
      <option>確定申告書</option>
      <option>申告内容確認票</option>
      <option>卒業証書・学位記</option>
      <option>修了見込証明書</option>
      <option>臨床研修修了証明書</option>
      <option>医師免許証</option>
      <option>専門医認定証</option>
      <option>歯科医師免許証</option>
      <option>薬剤師免許証</option>
      <option>理学療法士免許証</option>
      <option>調理師免許証</option>
      <option>教諭免許状</option>
      <option>戸籍抄本</option>
      <option>戸籍謄本１−３人家族</option>
      <option>戸籍謄本４−６人家族</option>
      <option>住民票（１枚）</option>
      <option>婚姻届受理証明書</option>
      <option>婚姻要件具備証明書</option>
      <option>出生届・出生証明書</option>
      <option>自動車運転免許証（表面）</option>
      <option>自動車運転免許証（両面）</option>
      <option>在留カード（両面）</option>
      <option>手紙・メール</option>
      <option>宣誓供述書</option>
      <option>その他</option>
    </select>
    <label for="Select3">ご希望の証明書（３）</label>
    <select class="form-control" id="Select3" style="width:100%">
      <option value "" disabled selected>--</option>
      <option>納税証明書</option>
      <option>残高証明書</option>
      <option>源泉徴収票</option>
      <option>特別徴収税額の通知書</option>
      <option>確定申告書</option>
      <option>申告内容確認票</option>
      <option>卒業証書・学位記</option>
      <option>修了見込証明書</option>
      <option>臨床研修修了証明書</option>
      <option>医師免許証</option>
      <option>専門医認定証</option>
      <option>歯科医師免許証</option>
      <option>薬剤師免許証</option>
      <option>理学療法士免許証</option>
      <option>調理師免許証</option>
      <option>教諭免許状</option>
      <option>戸籍抄本</option>
      <option>戸籍謄本１−３人家族</option>
      <option>戸籍謄本４−６人家族</option>
      <option>住民票（１枚）</option>
      <option>婚姻届受理証明書</option>
      <option>婚姻要件具備証明書</option>
      <option>出生届・出生証明書</option>
      <option>自動車運転免許証（表面）</option>
      <option>自動車運転免許証（両面）</option>
      <option>在留カード（両面）</option>
      <option>手紙・メール</option>
      <option>宣誓供述書</option>
      <option>その他</option>
    </select>
    <label for="Select4">希望納期</label>
    <select class="form-control" id="Select4" style="width:100%" required>
      <option>--</option>
      <option>１０営業日</option>
      <option>　５営業日</option>
      <option>　３営業日</option>
    </select>
    <label for="Textarea">翻訳依頼内容</label>
    <textarea class="form-control" id="Textarea" rows="3" style="width:100%"></textarea>
  </fieldset>
  <fieldset class="form-group">
    <label for="InputFile"></label>
    <input type="file" class="form-control-file" id="InputFile"><br>
    <small class="text-muted">翻訳依頼のファイルを添付するには、「Choose File」 をクリックしてください。</small>
  </fieldset>
  <fieldset class="form-group">
      <div id="button-line" style="box-shadow:none">
    <button type="submit" class="btn btn-primary">送信</button>
      </div>
  </fieldset>
</form>
    </div>
    <div class="column">
        <div class="contact-information">
        <h5>CONTACT INFORMATION</h5>
        <h6>Mailing Address:</h6>
        <p>〒173-0026東京都板橋区中丸町36-7コーポ早川Ⅱ102</p>
        <h6>Email:</h6>
        <p>richard@penhawk.com</p>
        <h6>Follow on SNS:</h6>
        <div id=sns>
            <div class=icon><a href="https://twitter.com/realpenhawk"><img src="../images/SNS/twitter.svg" alt="Twitter" style="width:95%; padding-top:5%;"/></a></div>
            <div class=icon><a href ="https://www.facebook.com/realpenhawk/"><img src="../images/SNS/Facebook.svg" alt="Facebook" style="width:85%"/></a></div>
            <div class=icon><a href="https://www.linkedin.com/in/richard-millar-b1448280/?locale=ja_JP"><img src="../images/SNS/LinkedIn-logo.svg" alt="LinkedIn" style="width:85%"/></a></div>
            <div class=icon><a href="https://www.instagram.com/realpenhawk/"><img src="../images/SNS/Instagram-logo.svg" alt="Instagram" style="width:90%"/></a></div>
            <div class=icon></div>
        </div>
        <h5 style="margin-top:2em">FAQ</h5>
        <h6>ウェブサイトに載っていないものも翻訳可能ですか？</h6>
        <p>はい！その場合は、見積もり依頼フォームの「ご希望の証明書」から「その他」を選択して、ファイルを添付していただけたらPenhawkはそれをチェックして２４時間以内にお見積もりを提出いたします。</p>
        <h6>オンライン・フォームだけで、すぐ注文できませんか？</h6>
        <p>翻訳は、一回原稿に目を通してみないと、確実にできるとお答えできません。いただいた原稿を確認次第、正式なお見積もりを提出いたします。そして、同意の上、翻訳を開始いたします。</p>
        </div>
    </div>
</div>