<footer><div id="footer-bar">
 <div id="footer-center">
 	<div id="footer-top-center">
 		<div class="footer-section-top-center-half">
 			<div class="footer-section-top-center-half-logo"><a href="https://twitter.com/realpenhawk"><img src="../../images/footer-logos/twitter.png" alt="Twitter" style="height:18px"/></a></div>
 			<div class="footer-section-top-center-half-logo"><a href ="https://www.facebook.com/realpenhawk/"><img src="../../images/footer-logos/facebook.png" alt="Facebook" style="height:18px"/></a></div>
 		</div>
 		<div class="footer-section-top-center-center"><div class="footersymbol">
      <img src="../../images/footer-logos/penhawk-logo-symbol-footer.svg" alt="penhawk-logo" style="width:51px;"/>
    </div></div>
 		<div class="footer-section-top-center-half">
        	<div class="footer-section-top-center-half-logo"><a href="https://www.linkedin.com/in/richard-millar-b1448280/?locale=ja_JP"><img src="../../images/footer-logos/linkedin.png" alt="LinkedIn" style="height:18px"/></a></div>
            <div class="footer-section-top-center-half-logo"><a href="https://www.instagram.com/realpenhawk/"><img src="../../images/footer-logos/instagram2.png" alt="Instagram" style="height:18px"/></a></div>
        </div>
 	</div>
    <div class="footer-middle-center">
        <div class="footer-middle-center-half-left"><a href="/terms-of-service/" title="サービス利用規約">サービス利用規約</a></div>
        <div class="footer-middle-center-half-right"><a href="/privacy-policy/" title="個人情報保護方針">個人情報保護方針</a></div>
    </div>
    <div class="footer-bottom-center">The name and logos for Penhawk and its subsidiary brands are the trademark of Richard Millar. All rights reserved.</div>
    </div>
 </div></footer>