<header><nav id="sc3">
<div id="logo">
    <a href="/"><img src="../../images/Penhawk-logo-name-white.png" alt="Penhawk" style="width:100%;"/></a></div>
  <input id="hamburger" type="checkbox" class="hamburger-checkbox">
  <label for="hamburger" class="hamburger-label" role="button" aria-labelledby="menu">&#xf0c9;</label>
<nav role="navigation" class="sidebar">
  <ul class="menu">
      <li><a href="/" title="ホーム">ホーム</a></li>
      <li><a href="/naati/" title="NAATI認証翻訳">NAATI認証翻訳</a></li>
      <li><a href="/naati/pricing-and-schedule/" title="料金とスケジュール">料金とスケジュール</a></li>
      <li><a href="/about/" title="PENHAWKについて">PENHAWKについて</a></li>
      <li><a href="/enquiry/" title="お問い合わせ">お問い合わせ</a></li>
    </ul>
</nav>
 
    
    <ul id="mainmenu">
      <li><a href="/naati/" title="NAATI認証翻訳">NAATI認証翻訳</a></li>
      <li><a href="/naati/pricing-and-schedule/" title="料金とスケジュール">料金とスケジュール</a></li>
      <li><a href="/about/" title="PENHAWKについて">PENHAWKについて</a></li>
      <li><a href="/enquiry/" title="お問い合わせ">お問い合わせ</a></li>
    </ul>
  </nav></header>