--- 
title: 個人情報保護方針｜ペンホーク
---
<style>
    *,
    *:before,
    *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    .small-hero{
        background-image: url("../images/hero-images/royal_botanic_gardens.webp");
        background-position: center center;
        background-size: cover;
    }
    
</style>

<section class="small-hero">
    <div class="hero-bottom-symbol"> <img src="../images/logos/Penhawk-logo-symbol.svg" alt="logo" /> </div>
</section>
<div class="page-title">
    <h2>PRIVACY POLICY</h2>
    <h1>個人情報保護方針</h1></div>
<div class="double-column">
    <div class="column">
        <p>お客様と長期にわたる幸せな取引関係の確立には、信頼を醸成することが重要であり、そのためには個人情報の保護が必須であることを深く認識し、以下の安全管理措置とリストの１〜５の通り個人情報保護方針を定め、これを確実に実行致します。</p>
        <p>具体的な安全管理措置</p>
        <ul>
            <li>セキュリティ確保のためのシステム・機器等の整備、パスワードの設定</li>
            <li>翻訳事務所内部の責任体制の確保（個人情報保護管理者のみによるアクセス管理）</li>
            <li>個人情報保護管理者（アクセス権限者）：Richard Millar</li>
            <li>翻訳文書の保存期間：1年6ヶ月間その他の個人情報はすべて、翻訳製品・公証翻訳書類の納品後、抹消致します。</li>
        </ul>
    </div>
    <div class="column">
        <ol>
            <li>個人情報は適切な手段で取得します。また、法令等に基づく場合を除き、本人に通知し、同意を頂いた利用目的の範囲でのみ利用致します。目的外利用を行わないために、これを防止する措置を講じます。さらに、法令等に基づく場合を除き、本人の同意なく第三者に提供することはありません。</li>
            <li>個人情報は、納品が完了するまで適正・安全に管理致します。 公式翻訳の再発行をご希望のお客様の為に利用目的の範囲内で、翻訳文書を施錠可能な場所及び情報管理上、安全な場所に保存期間を定めて保管することがあります。</li>
            <li>個人情報への不正アクセス、個人情報の漏えい、滅失、または、き損の防止、並びに是正のために、適切な安全管理措置を講じます。</li>
            <li>個人情報の取扱いに関する法令、条例、国が定める指針およびその他の規範を遵守します。</li>
            <li>個人情報を保護するマネジメントシステムを構築し、継続的に改善に努めます。</li>
        </ol>
    </div>
</div>