---
title: NAATI認証翻訳｜ペンホーク
description: 運に任せたくない場合は、NAATI認証翻訳が最も確実な選択肢となります。NAATI公認翻訳者は守秘義務、能力、公平性や正確性等に関する厳正な規則が課せられています。また、NAATIがオーストラリア連邦政府により設立された機関ですので、NAATI認証翻訳はオーストラリア当局に認可されることが確実です。
---
<style>
    *,
    *:before,
    *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
        .hero-heading {
        text-align: center;
        position: absolute;
        color: #fff;
        width: 100%;
        left: 50%;
        top: 85%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    
    .production {
        display: flex;
        flex-flow: column;
        justify-content:center;
        align-items:center;
        height:auto;
        max-height:280px;
        width:90%;
        margin-top:1%;
        margin-bottom:2%;
    }
    
    .production > figure {
        display: flex;
        flex-flow:column;
        width: 100%;
        height: 100%;
        justify-content:center;
        align-items:center;
    }
    
     .production > figure > img {
        display: flex;
        flex-flow:column;
        width: 100%;
        height: 100%;
        justify-content:center;
        align-items:center;
    }   
    
    .production > figure > figcaption {
        max-width: 100%;
        font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
        color:#54504E;
        font-size:0.8em;
    }
    
    
    /* media queries
  --------------------------------------------- */

    

</style>

<ul id="breadcrumb">
        <li><a href="/" title="Home"><img src="../images/breadcrumb-home-icon.gif" alt="Home" class="home" /></a></li>
            <li>O<span style="font-size:0.9em">UTLINE</span></li>
            <li><a href="/naati/pricing-and-schedule/" title="料金とスケジュール">P<span style="font-size:0.9em">RICING</span></a></li>
            <li><a href="/naati/process/" title="ご利用手順">P<span style="font-size:0.9em">ROCESS</span></a></li>
            <li><a href="/enquiry/" title="お問い合わせ">E<span style="font-size:0.9em">NQUIRY</span></a></li>
    </ul>
<section class="full-hero">
        <picture style="width:100%; height:auto">
            <source media="(orientation: landscape)" srcset=
            "../images/NAATI/NAATI-L1700.jpg 1700w,
            ../images/NAATI/NAATI-L2000.jpg 2000w,
            ../images/NAATI/NAATI-L2400.jpg 2400w,
            ../images/NAATI/NAATI-L2900.jpg 2900w,
            ../images/NAATI/NAATI-L3500.jpg 3500w"
            sizes="100vw"
            style="width:100%; object-fit:cover">
            <source media="(orientation: portrait)" srcset=
            "../images/NAATI/NAATI-P800.jpg 800w,
            ../images/NAATI/NAATI-P1100.jpg 1100w,
            ../images/NAATI/NAATI-P1300.jpg 1300w,
            ../images/NAATI/NAATI-P1500.jpg 1500w,
            ../images/NAATI/NAATI-P1700.jpg 1700w,
            ../images/NAATI/NAATI-P2100.jpg 2100w,"
            sizes="100vw"
            style="width:100%; object-fit:cover">
            <img src="../images/NAATI/NAATI-L2400.jpg" alt="フリンダース駅" style="width:100%; object-fit:cover">
            <div class="hero-heading">
                <h1>NAATI認証翻訳<br><span style="font-size:0.6em">Why, How, What</span></h1></div>
            <div class="hero-mid-symbol"> <img src="../images/logos/Penhawk-logo-symbol.svg" alt="Penhawkのロゴ" style="width:90px;" /> </div>
            </picture>
</section>
<section class="why" style="padding-top:2em; padding-bottom:1em;">
            <section class="single-column"><img src="../images/background/Why.svg" alt="Penhawk" style="width:100%; padding-left:30%; padding-right:30%; opacity:0.32" />
                <h3><span style="font-size:0.83em">オーストラリアに提出するなら、</span><br>NAATI認証翻訳が最も確実</h3>
                <p>提出先や最終用途によって正規の翻訳会社・翻訳者による英訳でも<a href="https://japan.embassy.gov.au/tkyojapanese/passport_translate_jp.html" target="blank" rel="noopener" style="color:#241E1B;">充分な場合</a>もありますが、オーストラリア翻訳・通訳資格認定機関（NAATI）認証済みの英訳でなければ<a href="https://japan.embassy.gov.au/tkyojapanese/consular_info_jp.html" target="blank" rel="noopener" style="color:#241E1B;">認可されない場合</a>が多いです。</p>
                <p>運に任せたくない場合は、NAATI認証翻訳が最も確実な選択肢となります。NAATI公認翻訳者は守秘義務、能力、公平性や正確性等に関する厳正な規則が課せられています。また、NAATIがオーストラリア連邦政府により設立された機関ですので、NAATI認証翻訳はオーストラリア当局に認可されることが確実です。</p>
                <p>オーストラリアにもNAATI公認翻訳者はいますが、まだ日本で準備をしている段階であれば、必要な英訳をできるだけ日本在住のNAATI公認翻訳者に任せたいと思いませんか？</p>

            </section>
</section>
<section class="how" style="background-color: rgba(224, 199, 173, 0.15); border-top: solid 1px rgba(0, 0, 0, 0.15); border-bottom: solid 1px rgba(0, 0, 0, 0.15); padding-top:3em; padding-bottom:1em;">
            <section class="single-column"><img src="../images/background/How.svg" alt="Penhawk" style="width:100%; padding-left:30%; padding-right:30%; opacity:0.32" />
                <h3><span style="font-size:0.83em">出版学の経歴もあるので、</span><br>レイアウトも最適かつ完全な形に</h3>
                <p>翻訳はWord、Excel、PPTなど様々なソフトウェアで作成することが可能ですが、Penhawkでは、翻訳用文書にできる限り同じになるように、出版業界標準のAdobe InDesignにて作成しております。</p>
                <div class="production">
                    <figure>
                <img src="../images/NAATI/sd-kh.png" alt="仮翻訳の作成" style="max-height:100%; max-width:100%; object-fit:contain">
                <figcaption>翻訳用文書から仮翻訳版へ</figcaption>
                </figure>
                </div>
                <p>これにより、お客様だけではなく、オーストラリア当局も簡単に英訳の内容が日本語の原文と統一していることをご確認頂けます。また、原則として翻訳が完成したら認証する１日以上前に「仮翻訳版」をメールにて送付させて頂きます。仮翻訳の内容に間違いのないことをご確認頂き次第、NAATI認証済みの完成版を納品致します。何よりもお客様がご安心できるサービスを提供することがPenhawkにとって一番重要です。</p>
            </section>
</section>
<section class="what" style="padding-top:3em; padding-bottom:1em;">
            <section class="single-column"><a id="PSDS"><img src="../images/background/What.svg" alt="Penhawk" style="width:100%; padding-left:30%; padding-right:30%; opacity:0.32;" />
                <h3><span style="font-size:0.83em">NAATI認証方法の二つから</span><br>自分のニーズに最も適したものを</h3>
                <p>認証翻訳とは、翻訳書に証明書を添付したものというイメージをお持ちの方も多少いらっしゃいますが、NAATI認証翻訳では、翻訳書そのものに認証（翻訳者による宣言＋スタンプ）を入れることが標準です。また、翻訳の内容が翻訳用文書と統一していることをさらに保証するために、NAATI公認翻訳者が翻訳用文書にもNAATI認証スタンプを捺印することが最良実践です。そしてスタンプは「デジタルスタンプ」と「インクスタンプ」の２つの選択肢があります。</p>
                <p>標準型のデジタルスタンプでは、NAATI公認翻訳者が多要素認証でNAATIアカウントにログインし、識別詳細と当件に限り３２ビット暗号化デジタルスタンプをダウンロードしてから以下のように翻訳＋翻訳用文書のPDFに入れることでNAATI認証翻訳となります。印刷前に認証済みとなりますので、お客様は郵送の待ち時間も必要なくPDFをそのままでパソコン等から何部でも印刷し直ぐにお使い頂けます。</p></a>
                <div class="production">
                    <figure>
                <img src="../images/NAATI/ds.png" alt="デジタルスタンプ付きNAATI認証翻訳書" style="max-height:100%; max-width:100%; object-fit:contain">
                <figcaption>デジタルスタンプ付きNAATI認証翻訳書</figcaption>
                </figure>
                </div>
                <p>また、もし大使館や総領事館から<a href="https://japan.embassy.gov.au/tkyojapanese/notarial_services_jp.html#originalcopy" target="blank" rel="noopener" style="color:#241E1B;">原本証明コピー</a>をご取得する予定の場合は、予約日時をご教示頂き次第、納品後に追加料金なしでお客様をCCで付けて直接送信致します。予約の当日に大使館や総領事館の方がそのNAATI認証翻訳書を印刷し原本証明コピーを発行致します。</p>
                <p>そして、旧型のインクスタンプではPDFを印刷してから捺印の上、サイン・日付を入れることでNAATI認証翻訳となります。多要素認証を使用するデジタルスタンプよりセキュリティの点で劣りますし、より環境負荷が大きい視点でNAATIが段階的に廃止する予定です。それでも、もし認証される翻訳用（日本語原文の）文書がスキャンデータ等から印刷したコピーではなく、お客様から郵送等で頂いた原物の場合にはインクスタンプをお勧め致します。インクスタンプをご希望の方には、認証済みの書面を郵送・返送するとともに、そのスキャンデータをPDFで送信致します。</p>
                <div class="production">
                    <figure>
                <img src="../images/NAATI/ps.png" alt="インクスタンプ付きNAATI認証翻訳書" style="max-height:100%; max-width:100%; object-fit:contain">
                <figcaption>インクスタンプ付きNAATI認証翻訳書</figcaption>
                </figure>
                </div>
                <p>インクスタンプ付きNAATI認証翻訳書で原本証明コピーをご取得する予定の場合は、大使館や総領事館へご持参すれば、その場で原本証明コピーをご取得することが可能です。</p>
            </section>
</section>
<div id="button-line">
    <div class="button-wide"><a href="/naati/pricing-and-schedule/" title="料金とスケジュール"><span style="font-family:Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif; color:#fff; margin-bottom:50%;">Next ｜</span> 料金とスケジュール</a></div>
</div>
