---
title: NAATI認定翻訳 - ペンホーク(Penhawk)
description: オーストラリアにも日本語専門のNAATI認定翻訳者はいますが、まだ日本で準備をしている段階であれば、必要なことをできるだけ国内で済ませたいと思いませんか？
---
<style>
    *,
    *:before,
    *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    body {
        background-image: url(../images/background1.jpg);
        margin: 0;
        padding: 0;
    }
    
    h3 {@extend .headings; font-weight: 700; font-size:1.8em; padding-bottom:0em;}
    
    /* Parallax base styles
  --------------------------------------------- */
    
    .parallax {
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-perspective: 300px;
        perspective: 300px;
    }
    
    .parallax__group__nav {
        position: relative;
        min-height: 50px;
        /* fallback for older browsers */
        height: auto;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    
    .full-hero {
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    
    .parallax__group__why {
        position: relative;
        /* fallback for older browsers */
        height: 100vh;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    
    .parallax__group__how {
        position: relative;
        /* fallback for older browsers */
        height: 90vh;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    
    .parallax__group__what {
        position: relative;
        /* fallback for older browsers */
        height: 50vh;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    
    .parallax__layer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    
    .parallax__layer--fore {
        -webkit-transform: translateZ(30px) scale(.9);
        transform: translateZ(30px) scale(.9);
        z-index: 1;
    }
    
    .parallax__layer--base {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        z-index: 4;
    }
    
    .parallax__layer--back {
        -webkit-transform: translateZ(-30px) scale(1);
        transform: translateZ(-30px) scale(1);
        z-index: 3;
    }
    
    /* demo styles
  --------------------------------------------- */
    
    body,
    html {
        overflow: hidden;
    }
    /* centre the content in the parallax layers */
    
    .hero-heading {
        text-align: center;
        position: absolute;
        color: #fff;
        width: 100%;
        left: 50%;
        top: 85%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    
    .whycontent {
        position: absolute;
        left: 30%;
        top: 52%;
        width: 50%;
        max-width: 680px;
        text-align: justify;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    
    .whyword {
        position: absolute;
        left: 79%;
        top: 50%;
        width: 40%;
        max-width: 600px;
        text-align: center;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    
    .howword {
        position: absolute;
        left: 22%;
        top: 50%;
        width: 36.24%;
        max-width: 680px;
        text-align: center;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    
    .howword > img {
        width: 100%;
        opacity: 0.32
    }
    
    .howcontent {
        position: absolute;
        left: 69.6%;
        top: 50%;
        width: 50%;
        max-width: 680px;
        text-align: justify;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    
    .whatcontent {
        position: absolute;
        left: 30%;
        top: 60%;
        width: 50%;
        max-width: 680px;
        text-align: justify;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    
    .whatword {
        position: absolute;
        left: 79%;
        top: 90%;
        width: 40%;
        max-width: 600px;
        text-align: center;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    /* style the groups
  --------------------------------------------- */
    
    #groupnav {
        z-index: 5;
        /* slide over group 2 */
    }
    
    #group1 {
        z-index: 5;
        /* slide over group 2 */
    }
    
    #group1 .parallax__layer--base {
        background-image: url("../images/hero-images/flinders_st1.jpg");
        background-size: cover;
        background-position: 30% 50%;
    }
    
    #group1 .parallax__layer--base > background-image > .img {max-height:100%}
    
    #group2 {
        z-index: 2;
        /* slide under groups 1 and 3 */
    }
    
    #group3 {
        z-index: 4;
        /* slide over group 2 and 4 */
    }
    
    #group3 .parallax__layer--base {
        background-color: rgba(224, 199, 173, 0.15);
        border-top: solid 1px rgba(0, 0, 0, 0.15);
        border-bottom: solid 1px rgba(0, 0, 0, 0.15);
    }
    
    #group4 {
        z-index: 3;
        /* slide under group 3 and 5 */
    }
    /* dropdown menu
  --------------------------------------------- */
    
    .container {
        width: 100%;
        margin-top: 1em;
        background
    }
    
    .container > ul {
        list-style: none;
        padding: 0;
        margin: 0 0 20px 0;
    }
    
    .dropdown {
        position: relative;
        width: 48%;
        left: 6%;
        border-top: 1px solid #999;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }
    
    .dropdown a {
        text-decoration: none;
    }
    
    .dropdown [data-toggle="dropdown"] {
        display: block;
        color: white;
        background: #241E1A;
        font-family: "a-otf-futo-min-a101-pr6n", 'Droid Serif', serif;
        font-size: 1em;
        -moz-box-shadow: 0 1px 0 #332A25 inset, 0 -1px 0 #332A25 inset;
        -webkit-box-shadow: 0 1px 0 #332A25 inset, 0 -1px 0 #332A25 inset;
        box-shadow: 0 1px 0 #332A25 inset, 0 -1px 0 #332A25 inset;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
        padding: 0.6em;
    }
    
    .dropdown [data-toggle="dropdown"]:before {
        position: absolute;
        display: block;
        content: '\25BC';
        font-size: 0.7em;
        color: #fff;
        top: 13px;
        right: 10px;
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -moz-transition: -moz-transform 0.6s;
        -o-transition: -o-transform 0.6s;
        -webkit-transition: -webkit-transform 0.6s;
        transition: transform 0.6s;
    }
    
    .dropdown-menu {
        display: flex;
        max-height: 0;
        width: 100%;
        overflow: hidden;
        list-style: none;
        padding: 0;
        margin: 0;
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -moz-transform-origin: 50% 0%;
        -ms-transform-origin: 50% 0%;
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -moz-transition: max-height 0.6s ease-out;
        -o-transition: max-height 0.6s ease-out;
        -webkit-transition: max-height 0.6s ease-out;
        transition: max-height 0.6s ease-out;
        animation: hideAnimation 0.4s ease-out;
        -moz-animation: hideAnimation 0.4s ease-out;
        -webkit-animation: hideAnimation 0.4s ease-out;
    }
    
    .dropdown > .dropdown-menu li {
        display: block;
        color: #6f6f6f;
        background: rgba(255, 255, 255, 0.7);
        float: left;
        font-family: "a-otf-gothic-bbb-pr6n", 'Droid Sans', sans-serif;
        font-size: 0.9em;
        font-weight: 200;
        width: 33.334%;
        height: 3em;
        text-align: center;
        padding: 0.6em 0em 0.6em 0em;
    }
    
    .dropdown > input[type="checkbox"] {
        opacity: 0;
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    
    .dropdown > input[type="checkbox"]:checked ~ .dropdown-menu {
        max-height: 9999px;
        display: block;
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        animation: showAnimation 0.5s ease-in-out;
        -moz-animation: showAnimation 0.5s ease-in-out;
        -webkit-animation: showAnimation 0.5s ease-in-out;
        -moz-transition: max-height 2s ease-in-out;
        -o-transition: max-height 2s ease-in-out;
        -webkit-transition: max-height 2s ease-in-out;
        transition: max-height 2s ease-in-out;
    }
    
    .dropdown > input[type="checkbox"]:checked + a[data-toggle="dropdown"]:before {
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
        -moz-transition: -moz-transform 0.6s;
        -o-transition: -o-transform 0.6s;
        -webkit-transition: -webkit-transform 0.6s;
        transition: transform 0.6s;
    }
    
     /* demo styles
  --------------------------------------------- */
    
    @media all and (min-width: 1100px) {
        .dropdown > .dropdown-menu li {
            width: 33.334%;
            -moz-box-shadow: 1px -1px 1px #d5d5d5 inset;
            -webkit-box-shadow: 1px -1px 1px #d5d5d5 inset;
            box-shadow: 1px -1px 1px #d5d5d5 inset;
        }
    
        .dropdown > .dropdown-menu li:nth-child(3n+1) {
            clear: both;
            -moz-box-shadow: 0px -1px 1px #d5d5d5 inset;
            -webkit-box-shadow: 0px -1px 1px #d5d5d5 inset;
            box-shadow: 0px -1px 1px #d5d5d5 inset;
        }
        
        .dropdown > .dropdown-menu > .big-hide {display:none}
    }
    
    @media all and (max-width: 1100px) {
        .dropdown > .dropdown-menu li {
            width: 50%;
            -moz-box-shadow: 1px -1px 1px #d5d5d5 inset;
            -webkit-box-shadow: 1px -1px 1px #d5d5d5 inset;
            box-shadow: 1px -1px 1px #d5d5d5 inset;
        }
    
        .dropdown > .dropdown-menu li:nth-of-type(2n+0) {
            clear: none;
        }
        
        .dropdown > .dropdown-menu li:nth-of-type(odd) {
            -moz-box-shadow: 0px -1px 1px #d5d5d5 inset;
            -webkit-box-shadow: 0px -1px 1px #d5d5d5 inset;
            box-shadow: 0px -1px 1px #d5d5d5 inset;
        }
        
        .dropdown > .dropdown-menu > .small-hide {display:none}
    }
    
    
     /* Clearing out mobile layout for parallax scrolling on computers
  --------------------------------------------- */
    
    @media all and (min-width: 1025px) {
        .whycontent > img {
            display: none;
        }
        .howword > h3,
        .howword > p {
            display: none;
        }
        .whatcontent > img {
            display: none;
        }
    }
    
    
     /* Clearing out parallax scrolling for mobile layout
  --------------------------------------------- */
    
    @media all and (max-width: 1024px) {
        h1 {
            font-size: 2.2em;
        }
        .parallax__layer--back,
        .parallax__layer--fore {
            display: none;
        }
        
        body,
    html, .parallax {
        overflow: visible;
    }
        
        .parallax__group__why {
            height: 54em;
        }
        .whycontent {
            position: absolute;
            justify-content: center;
            top: 50%;
            width: 90%;
            left: 50%;
            text-align: justify;
        }
        
        .whycontent > img {
            display: flex;
        }
        
        .parallax__group__how {
            height: 42em;
        }
        .howword {
            position: absolute;
            justify-content: center;
            top: 50%;
            width: 90%;
            left: 50%;
            text-align: justify;
        }
        .howword > img {
            width: 50%;
            display:flex;
            margin: 0% auto 5% auto;
        }
        .parallax__group__what {
            height: 30em;
        }
        .whatcontent {
            position: absolute;
            justify-content: center;
            top: 55%;
            width: 90%;
            left: 50%;
            text-align: justify;
        }
        
        .whatcontent > img {
            display: flex;
        }
        
        .container {
            margin-top: 0em;
        }
        .dropdown {
            width: 85%;
            left: 8%;
        }
    }
    
@media all and (max-width: 620px) {
    
     .parallax__group__how {
            height: 47em;
        }
    }
    
    @media all and (max-width: 540px) {
        #logo {
            width: 150px;
        }
        
        .dropdown [data-toggle="dropdown"] {
            font-size: 0.9em;
        }
        
        .dropdown > .dropdown-menu li {
            font-size: 0.85em;
        }
        
        h3 {
            font-size: 1.7em;
        }
    }
    
    @media all and (max-width: 490px) {
        h3 {
            font-size: 1.5em;
        }
        
        .parallax__group__how {
            height: 46em;
        }
        
        .parallax__group__what {
            height: 27em;
        }
    }
        @media all and (max-width: 430px) {
        h3 {
            font-size: 1.3em;
        }
        }
    
    @media all and (max-width: 360px) {
        h3 {
            font-size: 1.2em;
        }
        }
        
</style>
<div class="parallax">
    <nav id="groupnav" class="parallax__group__nav">
        <header>
            <nav id="sc3">
                <div id="logo">
                    <a href="/"><img src="../images/Penhawk-logo-name-white.png" alt="Penhawk" style="width:100%;" /></a>
                </div>
                <input id="hamburger" type="checkbox" class="hamburger-checkbox">
                <label for="hamburger" class="hamburger-label" role="button" aria-labelledby="menu">&#xf0c9;</label>
                <nav role="navigation" class="sidebar">
                    <ul class="menu">
                        <li><a href="/" title="ホーム">ホーム</a></li>
                        <li><a href="/naati/" title="NAATI認定翻訳">NAATI認定翻訳</a></li>
                        <li><a href="/naati/pricing-and-schedule" title="料金とスケジュール">料金とスケジュール</a></li>
                        <li><a href="/about/" title="会社概要">会社概要</a></li>
                        <li><a href="/enquiry/" title="お問い合わせ">お問い合わせ</a></li>
                    </ul>
                </nav>
                <ul id="mainmenu">
                    <li><a href="/naati/" title="NAATI認定翻訳">NAATI認定翻訳</a></li>
                    <li><a href="/naati/pricing-and-schedule" title="料金とスケジュール">料金とスケジュール</a></li>
                    <li><a href="/about/" title="会社概要">会社概要</a></li>
                    <li><a href="/enquiry/" title="お問い合わせ">お問い合わせ</a></li>
                </ul>
            </nav>
        </header>
    </nav>
    <article id="group1" class="full-hero">
        <div class="parallax__layer parallax__layer--base">
            <ul id="breadcrumb">
        <li><a href="/" title="Home"><img src="../images/breadcrumb-home-icon.gif" alt="Home" class="home" /></a></li>
            <li>O<span style="font-size:0.9em">UTLINE</span></li>
            <li><a href="/naati/process" title="ご利用手順">P<span style="font-size:0.9em">ROCESS</span></a></li>
            <li><a href="/naati/pricing-and-schedule" title="料金とスケジュール">P<span style="font-size:0.9em">RICING</span></a></li>
            <li><a href="/enquiry" title="ご注文">O<span style="font-size:0.9em">RDER</span></a></li>
    </ul>
            <div class="hero-heading">
                <h1>NAATI 認定翻訳<br><span style="font-size:0.6em">Why, How, What</span></h1></div>
            <div class="hero-mid-symbol"> <img src="../images/logos/Penhawk-logo-symbol.svg" alt="penhawk-logo" style="width:90px;" /> </div>
        </div>
    </article>
    <article id="group2" class="parallax__group__why">
        <div class="parallax__layer parallax__layer--base">
            <section class="whycontent"><img src="../images/background/Why.svg" alt="Penhawk" style="width:50%; margin:0% auto 5% auto; opacity:0.32" />
                <h3><span style="font-size:0.83em">個人的な経験があるから、</span><br>Penhawkに任せられる</h3>
                <p>メルボルンで暮らしたいと考えている人の力になりたいと考えています。なぜなら、実際に私もビザの申請を体験したことがあり、その大変さをよくわかっているからです。</p>
                <p>ビザの申請をする際、在日オーストラリア大使館の公式HPを見てみると「英語以外の言語で書かれた書類は、NAATI認定翻訳者またはプロの翻訳会社による英文翻訳を、元の言語で書かれた書類と一緒に提出してください。」という一文をご覧になるはずです。これは申請者にとって厄介で不便な所でしょう。</p>
                <p>書類の翻訳のために、大使館のHPから「オーストラリアの国家認定を受けた翻訳者」を探すと英語で書かれたHPへ移動してしまいます。また、国内の「プロの翻訳会社」に依頼することもできるでしょうが、NAATI認定の翻訳でなければ、認可されない場合があります。</p>
                <p>そこでNAATI認定翻訳者の資格がある私はPenhawkを立ち上げました。</p>
            </section>
        </div>
        <div class="parallax__layer parallax__layer--back">
            <section class="whyword"><img src="../images/background/Why.svg" alt="Penhawk" style="width:100%; opacity:0.32" /></section>
        </div>
    </article>
    <article id="group3" class="parallax__group__how">
        <div class="parallax__layer parallax__layer--fore">
            <section class="howcontent">
                <h3><span style="font-size:0.83em">日本にいるNAATI認定翻訳者では、</span><br>コストも時間も効率的でより安心</h3>
                <p>オーストラリアにも日本語専門のNAATI認定翻訳者はいますが、まだ日本で準備をしている段階であれば、必要なことをできるだけ国内で済ませたいと思いませんか？</p>
                <p>英語に翻訳された文書には、公証の基盤となるNAATI有資格者の署名・捺印が必要です。翻訳が完了次第、スキャンしたデータをメールに添付し送信いたします。お客様のご確認の後、翻訳した公証付き書類を３部印刷し指定のご住所へ郵送いたします。</p>
                <p>東京で立ち上げたビジネスなので、Penhawkは郵送費を最小限に抑えることができ、翻訳開始から３営業日以内での納品が可能です。何よりもお客様が安心できるサービスとして、ビザなどの申請に使用できるよう公証翻訳を効率的なコストや時間でお届けすることがPenhawkにとって一番重要です。</p>
            </section>
        </div>
        <div class="parallax__layer parallax__layer--base">
            <section class="howword"><img src="../images/background/How.svg" alt="Penhawk" />
                <h3><span style="font-size:0.83em">日本にいるNAATI認定翻訳者では、</span><br>コストも時間も効率的でより安心</h3>
                <p>オーストラリアにも日本語専門のNAATI認定翻訳者はいますが、まだ日本で準備をしている段階であれば、必要なことをできるだけ国内で済ませたいと思いませんか？</p>
                <p>英語に翻訳された文書には、公証の基盤となるNAATI有資格者の署名・捺印が必要です。翻訳が完了次第、スキャンしたデータをメールに添付し送信いたします。お客様のご確認の後、翻訳した公証付き書類を３部印刷し指定のご住所へ郵送いたします。</p>
                <p>東京で立ち上げたビジネスなので、Penhawkは郵送費を最小限に抑えることができ、翻訳開始から３営業日以内での納品が可能です。何よりもお客様が安心できるサービスとして、ビザなどの申請に使用できるよう公証翻訳を効率的なコストや時間でお届けすることがPenhawkにとって一番重要です。</p>
            </section>
        </div>
    </article>
    <article id="group4" class="parallax__group__what">
        <div class="parallax__layer parallax__layer--back">
            <section class="whatword"><img src="../images/background/What.svg" alt="Penhawk" style="width:100%; opacity:0.32" /></section>
        </div>
        <div class="parallax__layer parallax__layer--base">
            <section class="whatcontent"><img src="../images/background/What.svg" alt="Penhawk" style="width:50%; margin:0% auto 5% auto; opacity:0.32" />
                <h3><span style="font-size:0.83em">メルボルンでの生活を</span><br>あなたの理想に近づけます</h3>
                <p>自分の夢や仕事への道をもう一歩踏み出してみませんか？その道を歩み続けられるように、Penhawkは下記の様々な書類をNAATI認証付き翻訳いたします。３つのカテゴリーに分かれているので、１つずつクリックしてご覧下さい。</p>
            </section>
        </div>
    </article>
    <section class="container">
        <ul>
            <li class="dropdown">
                <input type="checkbox" /> <a href="#" data-toggle="dropdown">身元・関係の証明</a>
                <ul class="dropdown-menu">
                    <li>戸籍謄本</li>
                    <li>婚姻要件具備証明書</li>
                    <li>在留カード</li>
                    <li>住民票</li>
                    <li>出生届・出生証明書</li>
                    <li>手紙・メール</li>
                    <li>婚姻届受理証明書</li>
                    <li>自動車運転免許証</li>
                    <li>宣誓供述書</li>
                    <li class="big-hide"></li>
                </ul>
            </li>
            <li class="dropdown">
                <input type="checkbox" /> <a href="#" data-toggle="dropdown">財政状況の証明</a>
                <ul class="dropdown-menu">
                    <li>卒業証書・学位記</li>
                    <li>専門医認定証</li>
                    <li>理学療法士免許証</li>
                    <li>修了見込証明書</li>
                    <li>歯科医師免許証</li>
                    <li>調理師免許証</li>
                    <li>臨床研修修了証明書</li>
                    <li>薬剤師免許証</li>
                    <li>教諭免許状</li>
                    <li>医師免許証</li>
                    <li class="small-hide"></li>
                    <li class="small-hide"></li>
                </ul>
            </li>
            <li class="dropdown">
                <input type="checkbox" /> <a href="#" data-toggle="dropdown">認定資格</a>
                <ul class="dropdown-menu">
                    <li>納税証明書</li>
                    <li>源泉徴収票</li>
                    <li>確定申告書</li>
                    <li>残高証明書</li>
                    <li>特別徴収税額の通知書</li>
                    <li>申告内容確認票</li>
                </ul>
            </li>
        </ul>
    </section>
    <div id="button-line" style="box-shadow:none" >
        <div class="button-regular"><a href="/naati/process" title="ご利用手順"><span style="font-family:'Droid Sans'; color:#fff; margin-bottom:50%;">Next ｜</span> ご利用手順</a></div>
    </div>
    <footer>
        <div id="footer-bar">
            <div id="footer-center">
                <div id="footer-top-center">
                    <div class="footer-section-top-center-half">
 			<div class="footer-section-top-center-half-logo"><a href="https://twitter.com/realpenhawk"><img src="../images/footer-logos/twitter.png" alt="Twitter" style="height:18px"/></a></div>
 			<div class="footer-section-top-center-half-logo"><a href ="https://www.facebook.com/realpenhawk/"><img src="../images/footer-logos/facebook.png" alt="Facebook" style="height:18px"/></a></div>
 		</div>
                    <div class="footer-section-top-center-center">
                        <div class="footersymbol"> <img src="../images/footer-logos/penhawk-logo-symbol-footer.svg" alt="penhawk-logo" style="width:51px;" /> </div>
                    </div>
                    <div class="footer-section-top-center-half">
                        <div class="footer-section-top-center-half-logo"><a href="https://www.linkedin.com/in/richard-millar-b1448280/"><img src="../images/footer-logos/linkedin.png" alt="LinkedIn" style="height:18px"/></a></div>
                        <div class="footer-section-top-center-half-logo"><a href="https://www.instagram.com/realpenhawk/"><img src="../images/footer-logos/instagram2.png" alt="Instagram" style="height:18px"/></a></div>
                    </div>
                </div>
                <div class="footer-middle-center">
                    <div class="footer-middle-center-half-left"><a href="/terms-of-service/" title="サービス利用規約">サービス利用規約</a></div>
                    <div class="footer-middle-center-half-right"><a href="/privacy-policy/" title="個人情報保護方針">個人情報保護方針</a></div>
                </div>
                <div class="footer-bottom-center">The name and logos for Penhawk and its subsidiary brands are the trademark of Richard Millar. All rights reserved.</div>
            </div>
        </div>
    </footer>