---
title: NAATI認定翻訳　ー　ご利用手順
---
<style>
        /* ensure no empty gaps
  --------------------------------------------- */
    
    *,
    *:before,
    *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    @import url("http://fonts.googleapis.com/css?family=Open+Sans:300");
@import url("http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

header {
  display: flex;
  -webkit-flex-flow: row;
            flex-direction: row;
    font-size: 1em;}

#sc3 {
  display: flex;
  min-height:50px;
  width:100%;
  -webkit-flex-flow: row;
            flex-direction: row;
  background-color: #1F1715;
  }
  
  #logo {
  display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
  -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: flex-start;
   justify-content: flext-start;
  font-size:1em;
  width:200px;
  padding: 4px 0 0 10px;
}


.hamburger-checkbox {
  display:flex;
  margin-left:auto;
  opacity:0;
}

.hamburger-label {
  position:absolute;
  margin-left:auto;
  align-items:center;
  top:3px;
  right: 12px;
  z-index: 1;
  width: 42px;
  height: 42px;
  font: 36px/42px fontawesome;
  text-align: center;
  color: #736759;
  cursor: pointer;
}

.hamburger-checkbox:checked ~ .hamburger-label:before {
  content: '\f00d';
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  display: block;
  width: 42px;
  height: 42px;
  font: 36px/42px fontawesome;
  text-align: center;
  color: #eee;
}


.sidebar {
  overflow: hidden;
  width: 0;
  height: 0;
  background: #736759;
  border-left: solid 1px #2b2b2b;
  border-bottom: 1px solid #2b2b2b;
  color: #fff;
  transition: all .3s;
}

.hamburger-checkbox:checked ~ .sidebar {
  width: 50%;
  height: auto;
  padding-top: 4em;
  overflow-x:scroll;
  z-index:0;
}

.menu { list-style: none; padding:0;}

.menu li {
  padding: 1em 0em;
  border-top: 1px solid #2b2b2b;
  white-space:nowrap;
  font-size:0.9em;
    font-family: "a-otf-futo-min-a101-pr6n", 'Droid Serif', serif;
	font-style: normal;
	font-weight: 400;
}

.menu li:last-child {padding-bottom:0%;}

.menu li a {
    text-decoration: none;
    list-style:none;
    color:#fff;
}

.menu li a:hover {
    color:#bbb;
}

#mainmenu {
  display: flex;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: center;
   align-items: center;
  font-size:0.9em;
  list-style: none;
  margin: 0 0 0 0;
  margin-left:auto;
  padding: 0;
}

#mainmenu > li {
  background-image: linear-gradient(to bottom, transparent 50%, #111 50%, #111 65%, #111 95%);
  background-size: 100% 200%;
  background-position: top center;
  color: #fff;
  text-align: center;
  text-decoration: none;
	font-family: "a-otf-futo-min-a101-pr6n", 'Droid Serif', serif;
	font-style: normal;
	font-weight: 400;
  transition: all .25s ease-in-out;
}

#mainmenu > li:hover {
  background-position: bottom center;
  color: rgba(0, 0, 0, 0.75);
}
#mainmenu > li a {
  color: #fff;
  text-decoration:none;
  display: flex;
  padding: 1rem 0;
  transition: all .25s ease-in-out;
}

#sc3 ul a {
  padding: 1rem 1.5rem;
}

@media screen and (min-width: 781px) {
.hamburger-checkbox{display:none;}
.hamburger-label{display:none;}

.sidebar {
  display:none;
}
}

 @media all and (max-width: 780px) {

#mainmenu{display: none;
}
 }

 @media all and (max-width: 540px) {
#logo{width: 150px;
}
 }

    /* top section
--------------------------------------------- */
    
    .small-hero {
        background: url("../../images/hero-images/degraves2.jpg") no-repeat 50% 30%;
        background-size: cover;
        background-position: center right;
    }
    /* main section
  --------------------------------------------- */
    
    #process {
        width: 98%;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: wrap;
        flex-flow: wrap;
        -webkit-flex: 0 1 auto;
        flex: 0 1 auto;
    }
    
    #process > .section {
        display: flex;
        width: 33.33%;
        min-height: 200px;
        margin: 0px;
        padding-left: 1.5em;
        padding-right: 1.5em;
        -webkit-flex: 0 1 1;
        flex: 0 1 1;
        -webkit-order: 1;
        order: 1;
        flex-wrap: wrap;
    }
    
    .section > img {
        height: 120px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .section > .description {
        display: block;
        margin-bottom: 90px;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .section > .description > h3,
    h4 {
        line-height: 0%
    }
    /* media queries
  --------------------------------------------- */
    
    @media all and (max-width: 900px) {
        #process > .section {
            width: 50%;
        }
        @media all and (max-width: 640px) {
            #process {
                display: -webkit-flex;
                display: flex;
                -webkit-flex-flow: column;
                flex-direction: column;
            }
            #process > .section {
                width: 100%
            }
            .section > .description {
                height: 150px;
                margin-bottom: 60px;
                width: 430px
            }
            
            h4 {
                font-size: 1.3em;
            }
            .section:nth-of-type(3n+0) > .description > p {text-align:center
            }
        }
        @media all and (max-width: 540px) {
            #process > .section {
                padding-left: 1em;
                padding-right: 1em
            }
            .section > img {
                height: 100px;
            }
        }
</style>
<header><nav id="sc3">
<div id="logo">
    <a href="/"><img src="../images/Penhawk-logo-name-white.png" alt="Penhawk" style="width:100%;"/></a></div>
  <input id="hamburger" type="checkbox" class="hamburger-checkbox">
  <label for="hamburger" class="hamburger-label" role="button" aria-labelledby="menu">&#xf0c9;</label>
<nav role="navigation" class="sidebar">
  <ul class="menu">
      <li><a href="/" title="ホーム">ホーム</a></li>
      <li><a href="/naati/" title="NAATI認定翻訳">NAATI認定翻訳</a></li>
      <li><a href="../naati/pricing-and-schedule" title="料金とスケジュール">料金とスケジュール</a></li>
      <li><a href="/about/" title="会社概要">会社概要</a></li>
      <li><a href="/enquiry/" title="お問い合わせ">お問い合わせ</a></li>
    </ul>
</nav>
 
    
    <ul id="mainmenu">
      <li><a href="/naati/" title="NAATI認定翻訳">NAATI認定翻訳</a></li>
      <li><a href="../naati/pricing-and-schedule" title="料金とスケジュール">料金とスケジュール</a></li>
      <li><a href="/about/" title="会社概要">会社概要</a></li>
      <li><a href="/enquiry/" title="お問い合わせ">お問い合わせ</a></li>
    </ul>
  </nav></header>
<section class="small-hero">
        <ul id="breadcrumb">
        <li><a href="/" title="Home"><img src="http://cssdeck.com/uploads/media/items/6/6f4WQkA.gif" alt="Home" class="home" /></a></li>
            <li><a href="/naati" title="NAATIサービスの概要">O<span style="font-size:0.9em">UTLINE</span></a></li>
            <li>P<span style="font-size:0.9em">ROCESS</span></li>
            <li><a href="/naati/pricing-and-schedule" title="料金とスケジュール">P<span style="font-size:0.9em">RICING</span></a></li>
            <li><a href="/enquiry" title="ご注文">O<span style="font-size:0.9em">RDER</span></a></li>
    </ul>
    <div class="hero-bottom-symbol"> <img src="../images/logos/Penhawk-logo-symbol.svg" alt="logo" /> </div>
</section>
<div class="page-title">
    <h2>PROCESS</h2>
    <h1>Penhawkのご利用手順</h1></div>
<div id="process">
    <div class="section"><img src="../images/process/explore.svg" alt="Penhawk" />
        <div class="description">
            <h4>STEP 1</h4>
            <h3>EXPLORE</h3>
            <p>Penhawkの見積もり依頼フォームに必要事項を記入の上、依頼ファイルを添付し送信してください。</p>
        </div>
    </div>
    <div class="section"><img src="../images/process/submit.svg" alt="Penhawk" />
        <div class="description">
            <h4>STEP 2</h4>
            <h3>SUBMIT</h3>
            <p>Penhawkよりお客様へ、お見積もりを２４時間以内にメールにてお送りします。</p>
        </div>
    </div>
    <div class="section"><img src="../images/process/confirm.svg" alt="Penhawk" />
        <div class="description">
            <h4>STEP 3</h4>
            <h3>CONFIRM</h3>
            <p>お客様よりPenhawkへ、メールにてご発注ください。</p>
        </div>
    </div>
    <div class="section"><img src="../images/process/translate.svg" alt="Penhawk" />
        <div class="description">
            <h4>STEP 4</h4>
            <h3>TRANSLATE</h3>
            <p>翻訳を完成したら「仮翻訳版」としてPenhawkよりお客様へメールにてお送りします。</p>
        </div>
    </div>
    <div class="section"><img src="../images/process/check-out.svg" alt="Penhawk" />
        <div class="description">
            <h4>STEP 5</h4>
            <h3>CHECK OUT</h3>
            <p>お客様に、氏名、生年月日などの基本事項に間違いのないことをご最終確認いただきます。</p>
        </div>
    </div>
    <div class="section"><img src="../images/process/deliver.svg" alt="Penhawk" />
        <div class="description">
            <h4>STEP 6</h4>
            <h3>DELIVER</h3>
            <p>納期予定に合わせて納品を郵送にていたします。</p>
        </div>
    </div>
</div>
<div id="button-line">
    <div class="button-wide"><a href="/naati/pricing-and-schedule" title="料金とスケジュール"><span style="font-family:'Droid Sans'; color:#fff; margin-bottom:50%;">Next ｜</span> 料金とスケジュール</a></div>
</div>