---
title: ペンホーク(Penhawk)
description: 日本人がもっとスムーズにオーストラリアとつながれ立派な生活できるように、その架け橋となるNAATI翻訳サービスです。
---

<style>
        *,
    *:before,
    *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    h1 {
        font-size: 3.5em;
    }
    
    h3 {
        font-weight: 100;
        font-size: 2.2em;
        line-height: 70%;
        color: #241E1B;
        text-align: center;
    }
    
    h4 {
        font-size: 1.5em;
        line-height: 70%;
        color: #241E1B;
        text-align: center;
    }
    
    h5 {
        font-size: 1.25em;
        margin-bottom: 0px;
        line-height: 1%;
        color: orange;
        text-align: center;
    }
    
    h6 {
        font-family: $general-text-font-stack;
        font-style: normal;
        font-weight: 100;
        font-size: 1em;
        margin-top: 30px;
        color: #fff;
        text-align: center;
    }
    
    p {
        margin-bottom: 20px;
        color: #54504E
    }
    
    article {
        position: relative;
        width: cover;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: column;
        flex-flow: column;
        min-height: 85vh;
        background-image: url("images/hero-images/yarra_river1.jpg");
        background-position: center center;
        background-size: cover;
    }
    
    
    article > .hero-heading {
        position:absolute;
        bottom: 10%;
        text-align: center;
        width: 100%;
    }
    
    
    #main1 {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row;
        flex-flow: row;
        -webkit-flex: 0 1 auto;
        flex: 0 1 auto;
        height:auto;
        width: 100%;
        margin: 0px;
        padding: 0px;
        background-color: #1F1715;
        border-top: solid #1F1715 4px;
        border-bottom: solid #1F1715 4px;
    }
    
    #main1 > .section {
        width: 100%;
        min-height:9em;
        max-height: 11em;
        margin: 0px;
        padding: 1em;
        justify-content: center;
        border: solid 1px #fff;
        background-size:cover;
        -webkit-flex: 1 1 50%;
        flex: 1 1 50%;
        -webkit-order: 1;
        order: 1;
        flex-wrap: wrap;
    }
    
    #main1 > .section:nth-of-type(1) {
    background-image:url("/images/hero-images/flinders_st1a.jpg");
    background-position:center center;
    }
    
    #main1 > .section:nth-of-type(1):hover {
    background-image:url("/images/hero-images/flinders_st1b.jpg");
    background-position:center center;
    }
    
    #main1 > .section:nth-of-type(2) {
    background-image:url("/images/hero-images/degraves2a.jpg");
    background-position:center center;
    }
    
    #main1 > .section:nth-of-type(2):hover {
    background-image:url("/images/hero-images/degraves2b.jpg");
    background-position:center center;
    }
    
    #main1 > .section:nth-of-type(3) {
    background-image:url("/images/hero-images/botanic_gardensa.jpg");
    background-position:center center;
    }
    
    #main1 > .section:nth-of-type(3):hover {
    background-image:url("/images/hero-images/botanic_gardensb.jpg");
    background-position:center center;
    }
    
    #main1 > .section:nth-of-type(4) {
    background-image:url("/images/hero-images/richard-profile1a.jpg");
    background-position:center right;
    }
    
    #main1 > .section:nth-of-type(4):hover {
    background-image:url("/images/hero-images/richard-profile1b.jpg");
    background-position:center right;
    }
    
    #main1 > .section a {
    text-decoration: none;}
    
    #main {
        height: auto;
        margin: 0px;
        padding: 0px;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row;
        flex-flow: row;
    }
    
    #main > aside {
        display: -webkit-flex;
        display: flex;
        height: auto;
        padding: 5px 5px 30px 5px;
        -webkit-flex: 1 1 50%;
        flex: 1 1 50%;
        -webkit-align-items:flex-start;
    }
    
    #main > aside:nth-of-type(1) {
        background: none;
        -webkit-order: 1;
        order: 1;
        -webkit-justify-content:flex-end;
        justify-content:flex-end;
    }
    
    #main > aside:nth-of-type(2) {
        background: rgba(127, 200, 227, 0.5);
        -webkit-order: 2;
        order: 2;
        -webkit-justify-content:flex-start;
        justify-content:flex-start;
    }
    
    .workholder {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: column;
        flex-flow: column;
        width:auto;
    }
    
    .articlecontent {
        padding-top: 30px;
        padding-right: 10%;
        padding-left: 10%;
        max-width:46em;
    }
    
    .worklogos {
        display: inline-block;
        vertical-align: top;
        margin-left: 10%;
        margin-right: 10%;
        background-color: none;
        text-align: center;
        position: relative;
        max-width:40em;
    }
    
    #aalto {
        display: inline-block;
        vertical-align: top;
        width: 100px;
        height: 30px;
        margin: 7px;
    }
    
    #panasonic {
        display: inline-block;
        vertical-align: top;
        width: 140px;
        height: 30px;
        margin: 7px;
    }
    
    #sharp {
        display: inline-block;
        vertical-align: top;
        width: 140px;
        height: 30px;
        margin: 7px;
    }
    
    #kirin {
        display: inline-block;
        vertical-align: top;
        width: 100px;
        height: 30px;
        margin: 7px;
    }
    
    #rohm {
        display: inline-block;
        vertical-align: top;
        width: 100px;
        height: 30px;
        margin: 7px;
    }
    
    #toyo-tires {
        display: inline-block;
        vertical-align: top;
        width: 170px;
        height: 30px;
        margin: 7px;
    }
    
    .affiliationsholder {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: column;
        flex-flow: column;
        width:auto;
        -webkit-justify-content:center;
        justify-content: center;
    }
    
    .affiliatelogos {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        background-color: none;
        text-align: center;
        
    }
    
    #ausit {
        display: inline-block;
        vertical-align: top;
        width: 140px;
        height: 60px;
        margin: 7px 7px 15px 7px;
    }
    
    #jat {
        display: inline-block;
        vertical-align: top;
        width: 100px;
        height: 60px;
        margin: 7px 7px 15px 7px;
    }
    
    #naati {
        display: inline-block;
        vertical-align: top;
        width: 160px;
        height: 60px;
        margin: 7px 7px 15px 7px;
    }


            
/* media queries (Anything below MacBook Air 11")
  --------------------------------------------- */
    
    @media all and (max-width: 960px) {
        #main1 {
            display: -webkit-flex;
            display: flex;
            -webkit-flex-flow: wrap;
            flex-direction: wrap;
        }
        
                #main {
            display: -webkit-flex;
            display: flex;
            -webkit-flex-flow: column;
            flex-direction: column;
        }

        #main > aside {
            -webkit-flex: 1 1 auto;
            flex: 1 1 auto;
        }
        
        #main > aside:nth-of-type(1) {
        -webkit-justify-content:center;
        justify-content:center;
    }
        #main > aside:nth-of-type(2) {
        -webkit-justify-content:center;
        justify-content:center;
    }
    }
 
	    @media all and (max-width:800px) {
		
		        .hero-heading > h1 {
            font-style: normal;
            font-weight: 400;
            font-size: 2.8em;
            line-height: 170%;
        }
        
    }
    
    @media all and (max-width:766px) {
		
		        .hero-heading > h1 {
            font-style: normal;
            font-weight: 400;
            font-size: 2.2em;
            line-height: 170%;
        }
        
    }
    
    @media all and (max-width: 650px){
        
		
		        article {
            min-height: 60vh;
        }
		
        #main1 {
            display: -webkit-flex;
            display: flex;
            -webkit-flex-flow: column;
            flex-direction: column;
        }
        
        #main1 > .section {
        min-height:9em;
        max-height: 10em;
        padding-top:2em;
        }
        
        
        .worklogos {
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
        }
         
    }
            
        @media all and (max-width: 470px) {    
            
            .button-home {
                width: 150px;
                height: 40px;
                font-size: 1.2em;
            }
            
            .hero-heading > h1 {
                font-style: normal;
                font-weight: 400;
                font-size: 1.6em;
                line-height: 170%;
                color: #fff;
            }

            h3 {
                font-size: 1.8em
            }
            h4 {
                font-size: 1.3em
            }
            
            h5 {
                font-size: 1.2em
            }
            
            h6 {
                font-size: 0.95em
            }
        }
    
    @media all and (max-width: 390px) {

            .button-home {
                width: 130px;
                height: 40px;
                font-size: 1.2em;
            }
        .hero-heading > h1 {
                font-style: normal;
                font-weight: 400;
                font-size: 1.4em;
                color: #fff;
            }
    }

/* media queries (iPads)
  --------------------------------------------- */
    
@media all and (max-device-height:600px) and (orientation:landscape) {
        article {
            min-height: 85vh;
        }
    
        .button-home {
                width: 150px;
                height: 40px;
                font-size: 1.1em;
            }
          
        
    article > .hero-heading {
                bottom: 5%;
    }
            .hero-heading > h1 {
                font-style: normal;
                font-weight: 400;
                font-size: 1.8em;
                line-height: 170%;
                color: #fff;
            }   
    
    }
  
</style>
<article>
    <div class="hero-heading">
        <h1> もっと身近に、オーストラリア<br>NAATI 認定翻訳はこちら！</h1>
        <div id="button-line" style="box-shadow:none">
            <div class="button-home"><a href="naati/">さらに詳しく</a> </div>
        </div>
    </div>
    <div class="hero-home-symbol"> <img src="../images/logos/Penhawk-logo-symbol.svg" alt="penhawk-logo" /> </div>
</article>
<div id="main1">
    <div class="section">
        <a href="naati/">
        <h5>NAATI認定翻訳</h5>
        <h6>メルボルンでの生活を<br>あなたの理想に近づけます</h6>
        </a>
    </div>
    <div class="section">
        <a href="naati/process">
        <h5>ご利用手順</h5>
        <h6>６ステップで<br>わかりやすくスムーズに</h6>
        </a>
    </div>
    <div class="section">
        <a href="naati/pricing-and-schedule">
        <h5>料金とスケジュール</h5>
        <h6>３タイプから選べる<br>お客様に合わせた納品方法</h6>
        </a>
    </div>
    <div class="section">
        <a href="about">
        <h5>Penhawkとは</h5>
        <h6>どんな会社か知って安心<br>納得出来るお取引へ</h6>
        </a>
    </div>
</div>
<div id="main">
    <aside>
        <div class="workholder">
        <div class="articlecontent">
            <h3>WORK</h3>
            <h4>履歴</h4>
            <p>現在、個人や中小企業のための翻訳を重点的に取り組んでいますが、Japan Industry News、Aalto InternationalやPRAP Japanといった会社との関係で、日本の様々な大企業との翻訳経験も豊富です。 </p>
        </div>
        <div class="worklogos">
            <section id="kirin"> <img src="../images/logos/Kirin-logo.png" alt="logo" style="width:90%" /> </section>
            <section id="aalto"> <img src="../images/logos/Murata-logo.png" alt="logo" style="width: 100%" /> </section>
            <section id="panasonic"> <img src="../images/logos/panasonic-logo.png" alt="logo" style="width: 100%" /> </section>
            <section id="rohm"> <img src="../images/logos/Rohm-logo.png" alt="logo" style="height:90%" /> </section>
            <section id="sharp"> <img src="../images/logos/Sharp-logo.png" alt="logo" style="height: 70%" /> </section>
            <section id="toyo-tires"> <img src="../images/logos/Toyo-Tires-logo.png" alt="logo" style="width:100%" /> </section>
        </div>
            </div>
    </aside>
    <aside>
        <div class="affiliationsholder">
        <div class="articlecontent">
            <h3>AFFILIATIONS</h3>
            <h4>業界関係</h4>
            <p>翻訳業の中で基準が最も高い「NAATI」というオーストラリア唯一の翻訳・通訳資格認定政府機関に認可を受け、また「AUSIT」と「JAT」というオーストラリアと日本の翻訳者協会に入会中です。</p>
        </div>
        <div class="affiliatelogos">
            <section id="ausit"> <img src="../images/logos/Ausit-logo.png" alt="logo" style="width: 100%" /> </section>
            <section id="jat"> <img src="../images/logos/JAT-logo.png" alt="logo" style="width:100%" /> </section>
            <section id="naati"> <img src="../images/logos/NAATI-logo.png" alt="logo" style="width: 100%" /> </section>
        </div>
            </div>
    </aside>
</div>