---
title: NAATI認証翻訳｜ペンホーク
description: 日本人がもっとスムーズにオーストラリアとつながれ立派な生活できるように、その架け橋となるNAATI認証翻訳サービスです。
---


<article>
    <div class="hero-heading">
        <h1> もっと身近に、オーストラリア<br>NAATI認証翻訳はこちら！</h1>
        <div id="button-line" style="box-shadow:none">
            <div class="button-home"><a href="naati/">さらに詳しく</a> </div>
        </div>
    </div>
    <div class="hero-home-symbol"> <img src="../images/logos/Penhawk-logo-symbol.svg" alt="penhawk-logo" /> </div>
</article>
<div id="main1">
    <div class="section">
        <a href="naati/">
        <h5>サービス概要</h5>
        <h6>オーストラリアでの生活を<br>あなたの理想に近づけます</h6>
        </a>
    </div>
    <div class="section">
        <a href="naati/process">
        <h5>ご利用手順</h5>
        <h6>６ステップで<br>わかりやすくスムーズに</h6>
        </a>
    </div>
    <div class="section">
        <a href="naati/pricing-and-schedule">
        <h5>料金とスケジュール</h5>
        <h6>３タイプから選べる<br>お客様に合わせた納期・料金</h6>
        </a>
    </div>
    <div class="section">
        <a href="about">
        <h5>PENHAWKについて</h5>
        <h6>どんな翻訳者か知って安心<br>納得出来るお取引へ</h6>
        </a>
    </div>
</div>
<div id="main">
    <aside>
        <div class="workholder">
        <div class="articlecontent">
            <h3>WORK</h3>
            <h4>履歴</h4>
            <p>NAATI認証翻訳では、個人や中小企業のための翻訳を重点的に取り組んでいますが、日本の大企業30社以上との翻訳経験も豊富です。 </p>
        </div>
        <div class="worklogos">
            <section id="canon"> <img src="../images/logos/bCanon.svg" alt="logo" style="width:100%" /> </section>
            <section id="fujifilm"> <img src="../images/logos/bFujifilm.svg" alt="logo" style="width: 100%" /> </section>
            <section id="marubeni"> <img src="../images/logos/bMarubeni.svg" alt="logo" style="width: 100%" /> </section>
            <section id="mitsui"> <img src="../images/logos/bMitsui.svg" alt="logo" style="width: 100%" /> </section>
            <section id="nomura"> <img src="../images/logos/bNomura.svg" alt="logo" style="width: 100%" /> </section>
            <section id="sumitomo"> <img src="../images/logos/bSumitomo.svg" alt="logo" style="width:100%" /> </section>
        </div>
            </div>
    </aside>
    <aside>
        <div class="affiliationsholder">
        <div class="articlecontent">
            <h3>AFFILIATIONS</h3>
            <h4>業界関係</h4>
            <p>翻訳業の中で基準が最も高い「NAATI」というオーストラリア唯一の翻訳・通訳資格認定政府機関に認可を受け、また「AUSIT」と「JAT」というオーストラリアと日本の翻訳者協会に入会中です。</p>
        </div>
        <div class="affiliatelogos">
            <section id="ausit"> <img src="../images/logos/Ausit-logo.webp" alt="AUSIT" style="width: 100%" /> </section>
            <section id="naati"> <img src="../images/logos/NAATI-Prac-Logo-Translator_1.webp" alt="JAT" style="width:100%" /> </section>
            <section id="jat"> <img src="../images/logos/JAT-logo.webp" alt="JAT" style="width:100%" /> </section>
        </div>
            </div>
    </aside>
</div>