---
title: NAATI認証翻訳｜ペンホーク
description: 日本人がもっとスムーズにオーストラリアとつながれ立派な生活できるように、その架け橋となるNAATI認証翻訳サービスです。
---

<style>
        *,
    *:before,
    *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    .hero-heading > h1 {
        font-size: 1.4em;
        line-height: 170%;
        
    }
    
    h3 {
        font-weight: 100;
        font-size: 2.2em;
        line-height: 70%;
        color: #241E1B;
        text-align: center;
    }
    
    h4 {
        font-size: 1.5em;
        line-height: 70%;
        color: #241E1B;
        text-align: center;
    }
    
    h5 {
        font-size: 1.25em;
        margin-bottom: 0px;
        line-height: 1%;
        color: orange;
        text-align: center;
    }
    
    h6 {
        font-family: $general-text-font-stack;
        font-style: normal;
        font-weight: 100;
        font-size: 1em;
        margin-top: 30px;
        color: #fff;
        text-align: center;
    }
    
    p {
        margin-bottom: 20px;
        color: #54504E
    }
    
    article {
        position: relative;
        width: cover;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: column;
        flex-flow: column;
        min-height: 60vh;
        background-image: url("images/hero-images/yarra_river2m.webp");
        background-position: center center;
        background-size: cover;
    }
    
    article > .hero-heading {
        position:absolute;
        bottom: 10%;
        text-align: center;
        width: 100%;
    }
    
      .hero-home-symbol{
  @extend .symbol;
  top:100%;
  height:80px;
}
.hero-home-symbol > img{width:80px;}
    
    
    #main1 {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: column;
        flex-flow: column;
        -webkit-flex: 0 1 auto;
        flex: 0 1 auto;
        height:auto;
        width: 100%;
        margin: 0px;
        padding: 0px;
        background-color: #1F1715;
        border-top: solid #1F1715 4px;
        border-bottom: solid #1F1715 4px;
    }
    
    #main1 > .section {
        width: 100%;
        min-height:9em;
        max-height: 10em;
        margin: 0px;
        padding: 1em;
        padding-top: 2em;
        justify-content: center;
        border: solid 1px #fff;
        background-size:cover;
        -webkit-flex: 1 1 50%;
        flex: 1 1 50%;
        -webkit-order: 1;
        order: 1;
        flex-wrap: wrap;
    }
    
    #main1 > .section:nth-of-type(1) {
    background-image:url("/images/hero-images/flinders_st1a.webp");
    background-position:center center;
    }
    
    #main1 > .section:nth-of-type(1):hover {
    background-image:url("/images/hero-images/flinders_st1b.webp");
    background-position:center center;
    }
    
    #main1 > .section:nth-of-type(2) {
    background-image:url("/images/hero-images/degraves2a.webp");
    background-position:center center;
    }
    
    #main1 > .section:nth-of-type(2):hover {
    background-image:url("/images/hero-images/degraves2b.webp");
    background-position:center center;
    }
    
    #main1 > .section:nth-of-type(3) {
    background-image:url("/images/hero-images/botanic_gardensa.webp");
    background-position:center center;
    }
    
    #main1 > .section:nth-of-type(3):hover {
    background-image:url("/images/hero-images/botanic_gardensb.webp");
    background-position:center center;
    }
    
    #main1 > .section:nth-of-type(4) {
    background-image:url("/images/hero-images/richard-profile1a.webp");
    background-position:center right;
    }
    
    #main1 > .section:nth-of-type(4):hover {
    background-image:url("/images/hero-images/richard-profile1b.webp");
    background-position:center right;
    }
    
    #main1 > .section a {
    text-decoration: none;}
    
    #main {
        height: auto;
        margin: 0px;
        padding: 0px;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: column;
        flex-flow: column;
    }
    
    #main > aside {
        display: -webkit-flex;
        display: flex;
        height: auto;
        padding: 5px 5px 30px 5px;
        -webkit-flex: 1 1 auto;
        flex: 1 1 auto;
        -webkit-align-items:flex-start;
    }
    
    #main > aside:nth-of-type(1) {
        background: none;
        -webkit-order: 1;
        order: 1;
        -webkit-justify-content:center;
        justify-content:center;
    }
    
    #main > aside:nth-of-type(2) {
        background: rgba(127, 200, 227, 0.5);
        -webkit-order: 2;
        order: 2;
        -webkit-justify-content:center;
        justify-content:center;
    }
    
    .workholder {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: column;
        flex-flow: column;
        width:auto;
        -webkit-justify-content:center;
        justify-content: center;
    }
    
    .articlecontent {
        padding-top: 30px;
        padding-right: 10%;
        padding-left: 10%;
        max-width:46em;
        height: auto;
    }
    
    .worklogos {
        display: inline-block;
        vertical-align: center;
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
        vertical-align: center;
        position: relative;
        max-width:40em;
    }
    
    #canon {
        display: inline-block;
        vertical-align: center;
        width: 100px;
        height: 20px;
        margin: 9px;
    }
    
    #fujifilm {
        display: inline-block;
        vertical-align: center;
        width: 120px;
        height: 20px;
        margin: 9px;
    }
    
    #marubeni {
        display: inline-block;
        vertical-align: center;
        width: 190px;
        height: 20px;
        margin: 9px;
    }
    
    #mitsui {
        display: inline-block;
        vertical-align: center;
        width: 120px;
        height: 28px;
        margin: 9px;
    }
    
    #nomura {
        display: inline-block;
        vertical-align: center;
        width: 155px;
        height: 28px;
        margin: 9px;
    }
    
    #sumitomo {
        display: inline-block;
        vertical-align: center;
        width: 170px;
        height: 28px;
        margin: 9px;
    }
    
    .affiliationsholder {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: column;
        flex-flow: column;
        width:auto;
        -webkit-justify-content:center;
        justify-content: center;
    }
    
    .affiliatelogos {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        background-color: none;
        text-align: center;
        
    }
    
    #ausit {
        display: inline-block;
        vertical-align: top;
        width: 140px;
        height: 60px;
        margin: 7px 7px 15px 7px;
    }
    
    #jat {
        display: inline-block;
        vertical-align: top;
        width: 100px;
        height: 60px;
        margin: 7px 7px 15px 7px;
    }
    
    #naati {
        display: inline-block;
        vertical-align: top;
        width: 160px;
        height: 60px;
        margin: 7px 7px 15px 7px;
    }



/* media queries (Above old mobile)
  --------------------------------------------- */
    @media all and (min-width: 360px) {
    .hero-heading > h1 {
        font-size: 1.6em;
        }
    
/* media queries (Above modern mobile)
  --------------------------------------------- */
    
    @media all and (min-width: 540px) {
        .hero-heading > h1 {
        font-size: 2.4em;
        line-height:120%;
        }
              .hero-home-symbol{
  @extend .symbol;
  top:100%;
  height:100px;
}
.hero-home-symbol > img{width:100px;}
        .hero-home-symbol > img{width:100px;}    
        #main1 {
            -webkit-flex-flow: wrap;
            flex-direction: wrap;
        }
        
                .button-home {
    @extend .button;
    width: 225px;
    height: 45px;
    font-size: 1.9em;
    margin-top:1em;
}
        
            #main1 > .section {
        padding-top: 1em;
    }
        
    article {
        background-image: url("images/hero-images/yarra_river2b.webp");
    }

    }

/* media queries (Above menu breakpoint)
  --------------------------------------------- */
    @media all and (min-width: 849px) {
        
            .hero-heading > h1 {
        font-size: 3em;
        }
            article {
        min-height: 85vh;
    }
        }
        
/* media queries (Enough space for #main1)
  --------------------------------------------- */
    @media all and (min-width: 972px) {
        
            .hero-heading > h1 {
        font-size: 3.5em;
        }
    #main1 {
        -webkit-flex-flow: row;
        flex-flow: row;
    }
        
    #main1 > .section {
        max-height: 11em;}

    #main {
        -webkit-flex-flow: row;
        flex-flow: row;
    }
        
    #main > aside:nth-of-type(1) {
        -webkit-justify-content:flex-end;
        justify-content:flex-end;
    }
    
    #main > aside:nth-of-type(2) {
        -webkit-justify-content:flex-start;
        justify-content:flex-start;
    }
        }
  
</style>

<article>
    <div class="hero-heading">
        <h1> もっと身近に、オーストラリア<br>NAATI認証翻訳はこちら！</h1>
        <div id="button-line" style="box-shadow:none">
            <div class="button-home"><a href="naati/">さらに詳しく</a> </div>
        </div>
    </div>
    <div class="hero-home-symbol"> <img src="../images/logos/Penhawk-logo-symbol.svg" alt="penhawk-logo" /> </div>
</article>
<div id="main1">
    <div class="section">
        <a href="naati/">
        <h5>サービス概要</h5>
        <h6>オーストラリアでの生活を<br>あなたの理想に近づけます</h6>
        </a>
    </div>
    <div class="section">
        <a href="naati/process">
        <h5>ご利用手順</h5>
        <h6>６ステップで<br>わかりやすくスムーズに</h6>
        </a>
    </div>
    <div class="section">
        <a href="naati/pricing-and-schedule">
        <h5>料金とスケジュール</h5>
        <h6>３タイプから選べる<br>お客様に合わせた納期・料金</h6>
        </a>
    </div>
    <div class="section">
        <a href="about">
        <h5>PENHAWKについて</h5>
        <h6>どんな翻訳者か知って安心<br>納得出来るお取引へ</h6>
        </a>
    </div>
</div>
<div id="main">
    <aside>
        <div class="workholder">
        <div class="articlecontent">
            <h3>WORK</h3>
            <h4>履歴</h4>
            <p>NAATI認証翻訳では、個人や中小企業のための翻訳を重点的に取り組んでいますが、日本の大企業30社以上との翻訳経験も豊富です。 </p>
        </div>
        <div class="worklogos">
            <section id="canon"> <img src="../images/logos/bCanon.svg" alt="logo" style="width:100%" /> </section>
            <section id="fujifilm"> <img src="../images/logos/bFujifilm.svg" alt="logo" style="width: 100%" /> </section>
            <section id="marubeni"> <img src="../images/logos/bMarubeni.svg" alt="logo" style="width: 100%" /> </section>
            <section id="mitsui"> <img src="../images/logos/bMitsui.svg" alt="logo" style="width: 100%" /> </section>
            <section id="nomura"> <img src="../images/logos/bNomura.svg" alt="logo" style="width: 100%" /> </section>
            <section id="sumitomo"> <img src="../images/logos/bSumitomo.svg" alt="logo" style="width:100%" /> </section>
        </div>
            </div>
    </aside>
    <aside>
        <div class="affiliationsholder">
        <div class="articlecontent">
            <h3>AFFILIATIONS</h3>
            <h4>業界関係</h4>
            <p>翻訳業の中で基準が最も高い「NAATI」というオーストラリア唯一の翻訳・通訳資格認定政府機関に認可を受け、また「AUSIT」と「JAT」というオーストラリアと日本の翻訳者協会に入会中です。</p>
        </div>
        <div class="affiliatelogos">
            <section id="ausit"> <img src="../images/logos/Ausit-logo.webp" alt="AUSIT" style="width: 100%" /> </section>
            <section id="naati"> <img src="../images/logos/NAATI-Prac-Logo-Translator_1.webp" alt="JAT" style="width:100%" /> </section>
            <section id="jat"> <img src="../images/logos/JAT-logo.webp" alt="JAT" style="width:100%" /> </section>
        </div>
            </div>
    </aside>
</div>